<!-- Footer
================================================== -->
<div id="footer">
	
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="/images/logo2.png" alt="">
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
										<option selected>English</option>
										<option>Français</option>
										<option>Español</option>
										<option>Deutsch</option>
									</select>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Candidates</h3>
						<ul>
							<li><a href="#"><span>Browse Jobs</span></a></li>
							<li><a href="#"><span>Add Resume</span></a></li>
							<li><a href="#"><span>Job Alerts</span></a></li>
							<li><a href="#"><span>My Bookmarks</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Employers</h3>
						<ul>
							<li><a href="#"><span>Browse Candidates</span></a></li>
							<li><a href="#"><span>Post a Job</span></a></li>
							<li><a href="#"><span>Post a Task</span></a></li>
							<li><a href="#"><span>Plans & Pricing</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
							<li><a href="#"><span>Contact</span></a></li>
							<li><a href="#"><span>Privacy Policy</span></a></li>
							<li><a href="#"><span>Terms of Use</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a href="#"><span>Log In</span></a></li>
							<li><a href="#"><span>My Account</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Newsletter -->
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
					<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
					<form action="#" method="get" class="newsletter">
						<input type="text" name="fname" placeholder="Enter your email address">
						<button type="submit"><i class="icon-feather-arrow-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2018 <strong>Hireo</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->
	<% if(!user){ %>
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#login">Log In</a></li>
			<li><a href="#register">Register</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Login -->
			<div class="popup-tab-content" id="login">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>We're glad to see you again!</h3>
					<span>Don't have an account? <a href="#" class="register-tab">Sign Up!</a></span>
				</div>
					
				<!-- Form -->
				<form onsubmit="sub_login(event)" id="login-form">
				    <div id="error_login"></div>
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress" id="email" placeholder="Email Address" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" required/>
					</div>
					<a href="#" class="forgot-password">Forgot Password?</a>
				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="login-form" id="btn_login">Log In <i class="icon-material-outline-arrow-right-alt"></i></button>
				
			
			</div>

			<!-- Register -->
			<div class="popup-tab-content" id="register">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Let's create your account!</h3>
				</div>

				<!-- Account Type -->
				<div class="account-type">
					<div>
						<input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked/>
						<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> User</label>
					</div>

					<div>
						<input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio"/>
						<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Investor</label>
					</div>
				</div>
					
				<!-- Form -->
				<form onsubmit="sub_register(event)" id="register-account-form">
				    <div id="error_register"></div>
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress-register" id="email-register" placeholder="Email Address" required/>
					</div>

					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password-register" id="password-register" placeholder="Password" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password-repeat-register" id="password-2-register" placeholder="Repeat Password" required/>
					</div>
				</form>
				
				<!-- Button -->
				<button class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="submit" form="register-account-form" id="btn_register">Register <i class="icon-material-outline-arrow-right-alt"></i></button>
				
				

			</div>

		</div>
	</div>
</div>

<% } %>
</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/js/mmenu.min.js"></script>
<script src="/js/tippy.all.min.js"></script>
<script src="/js/simplebar.min.js"></script>
<script src="/js/bootstrap-slider.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/snackbar.js"></script>
<script src="/js/clipboard.min.js"></script>
<script src="/js/counterup.min.js"></script>
<script src="/js/magnific-popup.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/custom.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

<% if(!user){ %>
<script>
    const sub_login = (event) => {
       event.preventDefault()
        var email = document.getElementById("email").value;
        var pass = document.getElementById("password").value;
        var err = document.getElementById("error_login")
        var btn = document.getElementById("btn_login")
        
        err.innerHTML = ""
        btn.innerHTML = "loading" + '<i class="icon-feather-refresh-ccw"></i>'
        btn.disabled = true
        
        axios.post("/login", {
            email: email,
            password: pass
        }).then(res => {
            console.log(res)
            if(res.data.message){
                err.innerHTML = `<div class="notification success"><p>${res.data.message}</p></div>`
                 btn.innerHTML = "Log In" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
        location.href = res.data.path
        
            }
            else if(res.data.error){
                 err.innerHTML = `<div class="notification error"><p>${res.data.error}</p></div>`
             btn.innerHTML = "Log In" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
            
            }
        }).catch(er => {
            if(er){
                console.log(er)
                err.innerHTML = `<div class="notification error"><p>There was an error with your request</p></div>`
                  btn.innerHTML = "Log In" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
              
            }
        })
    }
    
    const sub_register = (event) => {
           event.preventDefault()
        var email = document.getElementById("email-register").value;
        var pass = document.getElementById("password-register").value;
        var pass2 = document.getElementById("password-2-register").value;
        var err = document.getElementById("error_register")
        var btn = document.getElementById("btn_register")
        
        err.innerHTML = ""
        btn.innerHTML = "loading" + '<i class="icon-feather-refresh-ccw"></i>'
        btn.disabled = true
          if(!document.getElementById("freelancer-radio").checked && !document.getElementById("employer-radio").checked){
             err.innerHTML = `<div class="notification error"><p>No account type selected</p></div>`
                   btn.innerHTML = "Register" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
        
        }
        else if(pass2 != pass){
            err.innerHTML = `<div class="notification error"><p>Passwords do not match</p></div>`
                  btn.innerHTML = "Register" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
        
        }else{
            if(document.getElementById("freelancer-radio").checked){
                var acct_type = "user"
            }else if(document.getElementById("employer-radio").checked){
                var acct_type = "investor"
            }
        axios.post("/register", {
            email: email,
            password: pass, 
            acct_type: acct_type
        }).then(res => {
            console.log(res)
            if(res.data.message){
                err.innerHTML = `<div class="notification success"><p>${res.data.message}</p></div>`
                 btn.innerHTML = "Register" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
        location.href = res.data.path
        
            }
            else if(res.data.error){
                 err.innerHTML = `<div class="notification error"><p>${res.data.error}</p></div>`
             btn.innerHTML = "Register" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
            
            }
        }).catch(er => {
            if(er){
                console.log(er)
                err.innerHTML = `<div class="notification error"><p>There was an error with your request</p></div>`
                  btn.innerHTML = "Register" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
              
            }
        })
        }
    }
</script>
<% } %>
</body>
</html>