<%- include("partials/header_dash") %>

<%- include("partials/nav_dash") %>



	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Add Details</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Add Details</a></li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<form class="row" onsubmit="sub(event)">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-account-circle"></i> My Profile</h3>
						</div>

						<div class="content with-padding padding-bottom-0">

							<div class="row">

								<div class="col-md-auto">
									<div class="avatar-wrapper" data-tippy-placement="bottom" title="Select Profile">
										<img class="profile-pic" src="" alt="placeholder pic" />
										<div class="upload-button"></div>
										<input class="file-upload" type="file" accept="image/*" id="pic"/>
									</div>
								</div>

								<div class="col">
									<div class="row">

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>First Name</h5>
												<input type="text" class="with-border" placeholder="First Name" id="fname" required>
											</div>
										</div>

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Last Name</h5>
												<input type="text" class="with-border" placeholder="Last Name" id="lname" required>
											</div>
										</div>

										

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Phone</h5>
												<input type="text" class="with-border" placeholder="Phone Number" id="phone" required>
											</div>
										</div>
										
									
									<div class="col-xl-6">
										<div class="submit-field">
											<h5>State</h5>
											<select class="selectpicker with-border" data-size="7" title="Select Job Type" data-live-search="true" id="state" required>
												 <option value="Abuja FCT">Abuja FCT</option>
              <option value="Abia">Abia</option>
              <option value="Adamawa">Adamawa</option>
              <option value="Akwa Ibom">Akwa Ibom</option>
              <option value="Anambra">Anambra</option>
              <option value="Bauchi">Bauchi</option>
              <option value="Bayelsa">Bayelsa</option>
              <option value="Benue">Benue</option>
              <option value="Borno">Borno</option>
              <option value="Cross River">Cross River</option>
              <option value="Delta">Delta</option>
              <option value="Ebonyi">Ebonyi</option>
              <option value="Edo">Edo</option>
              <option value="Ekiti">Ekiti</option>
              <option value="Enugu">Enugu</option>
              <option value="Gombe">Gombe</option>
              <option value="Imo">Imo</option>
              <option value="Jigawa">Jigawa</option>
              <option value="Kaduna">Kaduna</option>
              <option value="Kano">Kano</option>
              <option value="Katsina">Katsina</option>
              <option value="Kebbi">Kebbi</option>
              <option value="Kogi">Kogi</option>
              <option value="Kwara">Kwara</option>
              <option value="Lagos">Lagos</option>
              <option value="Nassarawa">Nassarawa</option>
              <option value="Niger">Niger</option>
              <option value="Ogun">Ogun</option>
              <option value="Ondo">Ondo</option>
              <option value="Osun">Osun</option>
              <option value="Oyo">Oyo</option>
              <option value="Plateau">Plateau</option>
              <option value="Rivers">Rivers</option>
              <option value="Sokoto">Sokoto</option>
              <option value="Taraba">Taraba</option>
              <option value="Yobe">Yobe</option>
              <option value="Zamfara">Zamfara</option>
											</select>
										</div>
									</div>
										
									
									<div class="col-xl-6">
											<div class="submit-field">
												<h5>Local Government</h5>
												<input type="text" class="with-border" placeholder="Local Government" id="lg" required>
											</div>
										</div>
										
										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Address</h5>
												<input type="text" class="with-border" placeholder="Address" id="address" required>
											</div>
										</div>
									
									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Role</h5>
											<select class="selectpicker with-border" data-size="7" title="Select Job Type" data-live-search="true" id="role" required>
												<option value="IT">IT</option>
												<option value="DEVELOPER">DEVELOPER</option>
												<option value="PARTNER/CONSULTANT/AGENCY">PARTNER/CONSULTANT/AGENCY</option>
												<option value="PERSONAL INVESTOR">PERSONAL INVESTOR</option>
												<option value="GOVERNMENT">GOVERNMENT</option>
												<option value="OTHERS">OTHERS</option>
											</select>
										</div>
									</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			
			
				
				<!-- Button -->
				<div class="col-xl-12">
					<button type="submit" id="addProf" class="button ripple-effect big margin-top-30">Submit</button>
				</div>

			</form>
			<!-- Row / End -->
            <%- include("partials/footer_dash") %>
		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->

<!-- Spacer / End-->
<%- include("partials/footer_empty") %>
<script>
         
 

      const sub = (event) => {
          event.preventDefault()
          document.getElementById("addProf").innerHTML = "Loading..." 
          document.getElementById("addProf").disabled = true
       if( document.getElementById("pic").files.length == 0 ){
                 	Snackbar.show({
		text: 'No Profile Image Selected',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
          
}   
       else{
 let fd = new FormData();
      var pic = $('#pic')[0].files[0];

      fd.append('profile_pic', pic);
        fd.append('phone', document.getElementById("phone").value)
        fd.append('fname', document.getElementById("fname").value)
        fd.append('lname', document.getElementById("lname").value)
        fd.append('state', $("#state").val())
        fd.append('role', $("#role").val())
        fd.append('address', document.getElementById("address").value)
        fd.append('lg', document.getElementById("lg").value)
         console.log(fd.get("phone"), fd.get('profile_pic'),fd.get("fname"), fd.get('lname'),fd.get("state"), fd.get('role'),fd.get("address"), fd.get('lg'))
      axios.post('/add-details',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message && res.data.path){
              	Snackbar.show({
		text: res.data.message,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	}); 
	document.getElementById("addProf").innerHTML = "Submit" 
    document.getElementById("addProf").disabled = false
	location.href = res.data.path
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
        document.getElementById("addProf").innerHTML = "Submit" 
          document.getElementById("addProf").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
             document.getElementById("addProf").innerHTML = "Submit" 
          document.getElementById("addProf").disabled = false   }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
	document.getElementById("addProf").innerHTML = "Submit" 
          document.getElementById("addProf").disabled = false
            }
        }
        )
      }
      }
</script>