<%- include("partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
 <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<style>


@media screen and (max-width: 992px){
    .form-modal {
        padding-top: 100px;
    }
}


.form-modal {
  top:0;
  left:0;
  height:100%;
  width: 100%;
}

.form-modal {
  z-index: 1000;
  background-color: #fff;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.form-modal.active {
  	opacity: 1;
  	visibility: visible;
  	transition: opacity 0.5s;
}
  
  
  .form-modal .button-group-pills .btn {
  border-radius: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-left: 10px;
  border-color: #bbbbbb;
  background-color: #FFF;
  color: #14a4be;
}
.form-modal .button-group-pills .btn.active {
  border-color: #14a4be;
  background-color: #14a4be;
  color: #FFF;
  box-shadow: none;
}
.form-modal .button-group-pills .btn:hover {
  border-color: #158b9f;
  background-color: #158b9f;
  color: #FFF;
}
  
    .bg-overlay {
  height: 100%;
  width: 0; 
  position: fixed; /* Stay in place *
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.bg-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.bg-overlay a:hover, .bg-overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
 .closebtn {
  position: absolute;
  top: 2px;
  color: #000;
  right: 15px;
  font-size: 50px;
  z-index: 11;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.multi_step_form {
  display: block;
  overflow-x: hidden;
}
.multi_step_form #msform {
  text-align: center;
  position: relative;
  padding-top: 80px;
  min-height: 820px;
  height: 60%;
  max-width: 1024px;
  margin: 0 auto;
  background: #ffffff;
  z-index: 1;
}
.multi_step_form #msform .tittle {
  text-align: center;
  padding-bottom: 30px;
}
.multi_step_form #msform .tittle h2 {
  font: 500 24px/35px;
  color: #3f4553;
  padding-bottom: 5px;
}
.multi_step_form #msform .tittle p {
  font: 400 16px/28px;
  color: #5f6771;
}
.multi_step_form #msform fieldset {
  border: 0;
  padding: 20px 105px 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}

@media screen and (max-width: 615px) {
    .multi_step_form #msform fieldset {
  border: 0;
  padding: 20px 15px 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}

  .multi_step_form  {
    height: 100%!important;
    position: fixed;
}
  .multi_step_form #msform {
 height: 100%;
}
}
.multi_step_form #msform fieldset:not(:first-of-type) {
  display: none;
}
.multi_step_form #msform fieldset h3 {
  font: 500 18px/35px;
  color: #3f4553;
}
.multi_step_form #msform fieldset h6 {
  font: 400 15px/28px;
  color: #5f6771;
  padding-bottom: 30px;
}
.multi_step_form #msform fieldset .intl-tel-input {
  display: block;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag {
  padding: 0 20px;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
  width: 65px;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow {
  border: 0;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow:after {
  content: "\f35f";
  position: absolute;
  top: 0;
  right: 0;
  font: normal normal normal 24px/7px Ionicons;
  color: #5f6771;
}
.multi_step_form #msform fieldset #phone {
  padding-left: 80px;
}
.multi_step_form #msform fieldset .form-group {
  padding: 0 10px;
}
.multi_step_form #msform fieldset .fg_2, .multi_step_form #msform fieldset .fg_3 {
  padding-top: 10px;
  display: block;
  overflow: hidden;
}
.multi_step_form #msform fieldset .fg_3 {
  padding-bottom: 70px;
}
.multi_step_form #msform fieldset .form-control, .multi_step_form #msform fieldset .product_select {
  border-radius: 3px;
  border: 1px solid #d8e1e7;
  padding: 0 20px;
  height: auto;
  font: 400 15px/48px;
  color: #5f6771;
  box-shadow: none;
  outline: none;
  width: 100%;
}
.multi_step_form #msform fieldset .form-control.placeholder, .multi_step_form #msform fieldset .product_select.placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control:-moz-placeholder, .multi_step_form #msform fieldset .product_select:-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control::-moz-placeholder, .multi_step_form #msform fieldset .product_select::-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control::-webkit-input-placeholder, .multi_step_form #msform fieldset .product_select::-webkit-input-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control:hover, .multi_step_form #msform fieldset .form-control:focus, .multi_step_form #msform fieldset .product_select:hover, .multi_step_form #msform fieldset .product_select:focus {
  border-color: #007bff;
}
.multi_step_form #msform fieldset .form-control:focus.placeholder, .multi_step_form #msform fieldset .product_select:focus.placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus:-moz-placeholder, .multi_step_form #msform fieldset .product_select:focus:-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus::-moz-placeholder, .multi_step_form #msform fieldset .product_select:focus::-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus::-webkit-input-placeholder, .multi_step_form #msform fieldset .product_select:focus::-webkit-input-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .product_select:after {
  display: none;
}
.multi_step_form #msform fieldset .product_select:before {
  content: "\f35f";
  position: absolute;
  top: 0;
  right: 20px;
  font: normal normal normal 24px/48px Ionicons;
  color: #5f6771;
}
.multi_step_form #msform fieldset .product_select .list {
  width: 100%;
}
.multi_step_form #msform fieldset .done_text {
  padding-top: 40px;
}
.multi_step_form #msform fieldset .done_text .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  margin-bottom: 10px;
  background: #007bff;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .done_text h6 {
  line-height: 23px;
}
.multi_step_form #msform fieldset .code_group {
  margin-bottom: 60px;
}
.multi_step_form #msform fieldset .code_group .form-control {
  border: 0;
  border-bottom: 1px solid #a1a7ac;
  border-radius: 0;
  display: inline-block;
  width: 30px;
  font-size: 30px;
  color: #5f6771;
  padding: 0;
  margin-right: 7px;
  text-align: center;
  line-height: 1;
}
.multi_step_form #msform fieldset .passport {
  margin-top: -10px;
  padding-bottom: 30px;
  position: relative;
}
.multi_step_form #msform fieldset .passport .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  position: absolute;
  top: 4px;
  right: 0;
  background: #007bff;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .passport h4 {
  font: 500 15px/23px;
  color: #5f6771;
  padding: 0;
}
.multi_step_form #msform fieldset .input-group {
  padding-bottom: 40px;
}
.multi_step_form #msform fieldset .input-group .custom-file {
  width: 100%;
  height: auto;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label {
  width: 168px;
  border-radius: 5px;
  cursor: pointer;
  font: 700 14px/40px ;
  border: 1px solid #99a2a8;
  text-align: center;
  transition: all 300ms linear 0s;
  color: #5f6771;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label i {
  font-size: 20px;
  padding-right: 10px;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label:hover, .multi_step_form #msform fieldset .input-group .custom-file .custom-file-label:focus {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}
.multi_step_form #msform fieldset .input-group .custom-file input {
  display: none;
}
.multi_step_form #msform fieldset .file_added {
  text-align: left;
  padding-left: 190px;
  padding-bottom: 60px;
}
.multi_step_form #msform fieldset .file_added li {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset .file_added li a {
  color: #007bff;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding-left: 15px;
}
.multi_step_form #msform fieldset .file_added li a i {
  font-size: 22px;
  padding-right: 8px;
  position: absolute;
  left: 0;
  transform: rotate(20deg);
}
.multi_step_form #msform #progressbar {
  margin-bottom: 20px;
  overflow: hidden;
}
.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: calc(100%/3);
  float: left;
  position: relative;
  font: 500 13px/1 "Rubik", sans-serif;
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
  content: "\f382";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
  content: "\f3b1";
}
.multi_step_form #msform #progressbar li:before {
  content: "\f26c";
  font: normal normal normal 30px/50px Ionicons;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  background: #eaf0f4;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
.multi_step_form #msform #progressbar li:after {
  content: '';
  width: 100%;
  height: 7px;
  background: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 17px;
  z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}
.multi_step_form #msform #progressbar li.active {
  color: #007bff;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
  background: #007bff;
  color: white;
}
.multi_step_form #msform .action-button {
  background: #007bff;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 130px;
  font: 700 14px/40px;
  border: 1px solid #007bff;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
}
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
  background: #405867;
  border-color: #405867;
}
.multi_step_form #msform .previous_button {
  background: transparent;
  color: #99a2a8;
  border-color: #99a2a8;
}
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
  background: #405867;
  border-color: #405867;
  color: #fff;
}

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  font-weight: bold;
  width: 100px;
  height: 30px;
  margin: -42px 0 0 -45px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>

<%- include("partials/nav_dash") %>
<!-- Dashboard Container -->
<div class="dashboard-container">

<%- include("sidebar") %>

	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			

			<!-- Row -->
			<div class="row">

<section class="form-modal multi_step_form" id="form-modal">
 <form id="msform" class="container-fluid"> 
    <!-- Tittle -->
    <div class="tittle">
      <h2>Swap Your Idea</h2>
      <p>In order to swap your idea, you have to provide preferences and detailed description of your idea to make it easy to match it with investors.</p>
    </div>
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Basic Details</li>  
      <li>More Details</li> 
      <li>Swap your idea</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
      <p>Provide Basic details about your idea</p>
      <div class="form-row"> 
        <div class="form-group col-md-12">  
        <label class="small">Idea Title</label>
          <input type="text" id="id_title" class="form-control" placeholder="Your idea title"> 
          
        </div>  
        <div class="form-group col-md-12"> 
        <label class="small">Idea Summary</label>
          <textarea class="form-control pt-2" id="id_sum" placeholder="Your idea summary" rows="13"></textarea>
          
        </div>
        <div class="form-group col-md-12"> 
        <label class="small">Idea Attachment</label>
          <div class="uploadButton margin-top-30">
			<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload">
			<label class="uploadButton-button ripple-effect" for="upload">Upload File</label>
			<span class="uploadButton-file-name">Images or documents that might be helpful in describing your idea</span>
		</div>
        </div>
        <div class="form-group col-md-12 my-2 pb-3 pt-2" style="border: 1px solid #ebebeb; border-radius: 5px;">
            <label style="font-size: 15px;">Enable Non Disclosure Agreement (Check if this if you want to maintain confidentiality of your idea with investors)</label>
					<label class="switch mt-2" style="margin-top: -30px!important;"><input id="nda" type="checkbox" checked=""><span class="switch-button"></span></label>

        <!--<label class="small">Idea Patent Number</label>-->
        <!--  <input type="text" id="id_patent" class="form-control" placeholder="Your idea patent number"> -->
        <!--  <p class="text-warning small my-1"><i class="ion ion-alert mr-1 text-dark"></i> Your patent Number shows that the idea is recognized legally as yours, failure to provide it poses a potential risk.</p>-->
        </div> 
        <div class="form-group col-md-12"> 
        <label class="small">Idea Category</label>
          <select class="custom-select" id="id_cat">
          <option value="">-- Select Idea Category --</option> 
          
          <% inds.forEach(ind => { %>
          <option value="<%= ind.title %>"><%= ind.title %></option>
          <% }) %>
          
          
        </select>
        
        </div> 
          <div class="form-group col-md-12"> 
        <label class="small">What do you want idea swap to do for you?</label>
          <select class="custom-select" id="disp" onchange="disp_opts()">
          <option value="">-- Select option --</option> 
          <option value="sell">Sell My Idea to an investor</option>
          <option value="co-own">Co Own the idea with investor</option> 
          <option value="developed">My app is fully developed (Sell My Code)</option> 
        </select>
        
        </div> 
        
            <div class="form-group col-md-12" id="co-perc" style="display: none;"> 
        <label class="small">Select Your Percentage Ratio</label>
        
           <div class="button-group-pills" data-toggle="buttons">
        <label class="btn btn-default active" for="60_40">
          <input type="radio" name="perc_ratio" id="60_40" value="60/40" checked="" style="visibility: hidden;display: none;">
          <div>60/40</div>
        </label>
        <label class="btn btn-default" for="70_30">
          <input type="radio" name="perc_ratio" id="70_30" value="70/30" style="visibility: hidden;display: none;">
          <div>70/30</div>
        </label>
        <label class="btn btn-default" for="50_50">
          <input type="radio" name="perc_ratio" id="50_50" value="50/50" style="visibility: hidden;display: none;">
          <div>50/50</div>
        </label>
        
      </div>
        </div> 
        
        
    
        
        <div class="form-group col-md-12" id="dev-opt" style="display: none;"> 
        <label class="small">Select action required</label>
          <select class="custom-select" id="chng_ac" onchange="change_actn()">
          <option value="">-- Select option --</option> 
          <option value="web">Provide Web App Link</option>
          <option value="mobile">Provide Mobile App Link</option> 
           <option value="upload">Upload your web app to our portal</option>
        </select>
        
        </div> 
        
         <div class="form-group col-md-12" id="web_link" style="display: none;"> 
        <label class="small">Your web app link</label>
           <input type="url" id="wb" class="form-control py-2" placeholder="Your web app link"> 
           
        </div> 
        
          <div class="form-group col-md-12" id="playstore_link" style="display: none;"> 
        <label class="small">Your web app link</label>
           <input type="url" id="ply" class="form-control py-2" placeholder="Your Mobile app link on playstore"> 
           
        </div> 
        
        
      </div>  
      <button type="button" class="next action-button mb-2">Continue</button>  
    </fieldset>
    <fieldset>
    <h6>Provide pricing and duration details for your idea</h6>
      <div class="form-row"> 
        <div class="form-group col-md-12"> 
        <label class="small">Duration</label>
          <select class="custom-select" id="duration" name="duration">
          <option value="">-- Select duration --</option> 
          <option value="2">2 days</option>
          <option value="3">3 days</option> 
           <option value="5">5 days</option>
          <option value="10">10 days</option> 
        </select>
        
        </div> 
        <div class="col-xl-12">
           <p> How much would you like to sell if for(WHAT IS YOUR IDEA'S WORTH?)</p>
        </div>
        <div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Starting Price</h5>
			</div>
			<div class="input-with-icon-left">
				<i class="icon-line-awesome-money"></i>
				<input type="number" min="0" id="start_price" name="start_price" class="input-text with-border" placeholder="NGN 100000">
				
			</div>
		</div>
       <div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Reserve Price</h5>
			</div>
			<div class="input-with-icon-left">
				<i class="icon-line-awesome-money"></i>
				<input type="number" min="0" id="res_price" name="res_price" class="input-text with-border" placeholder="NGN 100000">
				
			</div>
		</div>
  <!--      <div class="col-xl-6 col-md-6">-->
		<!--	<div class="section-headline margin-top-25 margin-bottom-12">-->
		<!--		<h5>Buy it now Price(optional)</h5>-->
		<!--	</div>-->
		<!--	<div class="input-with-icon-left">-->
		<!--		<i class="icon-line-awesome-money"></i>-->
		<!--		<input type="number" min="0" id="buy_now_price" name="buy_now_price" class="input-text with-border" placeholder="NGN 100000">-->
		<!--	</div>-->
		<!--</div>-->
         
   
        
      </div>  
      <button type="button" class="action-button previous previous_button mb-2">Back</button>
      <button type="button" class="next action-button mb-2">Continue</button>  
    </fieldset>  
    <fieldset class"container">
        <div class="my-5 py-5" style="display: none;" id="ldd">
        <div id="loading-wrapper mt-5">
          <div id="loading-text">LOADING</div>
          <div id="loading-content"></div>
        </div>
        </div>
        
    <div id="preview">
      <div class="col-xl-12 bg-light jumbotron">
			<div class="text-center border-top margin-top-55 padding-top-45 margin-bottom-25">
				<h4 id="pre-title"></h4>
			</div>
			<p id="pre-sum"></p>
		
		</div>	
		<p class="mt-2 mb-1 small text-muted">Options</p>
		<div class="col-xl-12 col-md-12">
					<div class="numbered color text-left">
						<ol>
							<li id="pre_cat"></li>
							<li id="pre_type"></li>
							<li id="pre_ratio"></li>
							<li id="pre_dev_opt"></li>
							<li id="pre_web_link"></li>
							<li id="pre_mobile_link"></li>
							<li id="pre_dur"></li>
							<li id="pre_start_price"></li>
							<li id="pre_res_price"></li>
							<li id="pre_buy_now"></li>
						</ol>
					</div>
				</div>
				<div class="col-xl-8 mx-auto">
	        <a href="#" id="sub_btt" class="next button task-listing ripple-effect button-sliding-icon" style="width: 100%;">Swap Your Idea <i class="icon-line-awesome-refresh"></i></a>
	        </div>
	        
      <a href="#" class="previous action-button previous_button my-4">Back</a>
      </div>
    </fieldset>  
  </form>  
</section>
			</div>
			<!-- Row / End -->

 <%- include("partials/footer_dash") %>
<%- include("partials/footer_empty") %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
 const disp_opts = () => {
     var value = document.getElementById("disp").value
     
     if(value != ""){
         if(value === "sell"){
            document.getElementById("co-perc").style.display = "none"
             document.getElementById("dev-opt").style.display = "none" 
         }
         else if(value === "co-own"){
             document.getElementById("co-perc").style.display = "block"
             document.getElementById("dev-opt").style.display = "none"
             var objDiv = document.getElementById("form-modal");
             objDiv.scrollTop = objDiv.scrollHeight;
         }
         else if(value === "developed"){
             document.getElementById("dev-opt").style.display = "block"
             document.getElementById("co-perc").style.display = "none"
             var objDiv = document.getElementById("form-modal");
             objDiv.scrollTop = objDiv.scrollHeight;
         }
     }
     else {
             document.getElementById("co-perc").style.display = "none"
             document.getElementById("dev-opt").style.display = "none"
     }
       document.getElementById("playstore_link").style.display = "none"
             document.getElementById("web_link").style.display = "none"
               document.getElementById("chng_ac").value = ""
 }   
 
  const change_actn = () => {
     var value = document.getElementById("chng_ac").value
     
     if(value != ""){
         if(value === "web"){
           document.getElementById("web_link").style.display = "block"
             document.getElementById("playstore_link").style.display = "none"
             var objDiv = document.getElementById("form-modal");
             objDiv.scrollTop = objDiv.scrollHeight;
         }
         else if(value === "mobile"){
             document.getElementById("playstore_link").style.display = "block"
             document.getElementById("web_link").style.display = "none"
             var objDiv = document.getElementById("form-modal");
             objDiv.scrollTop = objDiv.scrollHeight;
         }
         else if(value === "upload"){
            
             document.getElementById("playstore_link").style.display = "none"
             document.getElementById("web_link").style.display = "none"
         }
        
     }
     else {
              document.getElementById("playstore_link").style.display = "none"
             document.getElementById("web_link").style.display = "none"
     }
 }   
 
 (function($) {
    "use strict";  
    
    $('input[name="perc_ratio"]').on('change', function() {
    $('input[name="' + "perc_ratio" + '"]').not(this).prop('checked', false);
    });
    //* Form js
    function verificationForm(){
        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches
        var cur = 0
           var objDiv = document.getElementById("form-modal");
             objDiv.scrollTop = 0;
        $(".next").click(function () {
            if(cur === 0){
                if(document.getElementById("id_title").value === ""){
                    Snackbar.show({
            		text: "Please Provide your idea title",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                }
                else if(document.getElementById("id_sum").value === ""){
                      Snackbar.show({
            		text: "Please Provide a detailed idea summary",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                }
                 else if(document.getElementById("id_cat").value === ""){
                       Snackbar.show({
            		text: "Please Select the category your idea falls into",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                    
                }
                else if(document.getElementById("upload").files.length > 0  && $('#upload')[0].files[0].type != 'application/pdf'){
                          Snackbar.show({
            		text: "Please select a Pdf file",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                     
                }
                 
                 else if(document.getElementById("upload").files.length > 0  && $('#upload')[0].files[0].size > 2000000 ){
                         
                              Snackbar.show({
            		text: "Please Select a file less than 2 MB",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                }
                 else if(document.getElementById("disp").value === ""){
                        Snackbar.show({
            		text: "What do you want ideaswap to do for you?",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                }
                 else if(document.getElementById("disp").value === "co-own" && !$('input[name=perc_ratio]:checked').val()){
                    Snackbar.show({
            		text: "Please select your desired percentage ratio",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                }
                 else if(document.getElementById("disp").value === "developed" && document.getElementById("chng_ac").value === ""){
                      Snackbar.show({
            		text: "Please select required action",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                }
                 else if(document.getElementById("disp").value === "developed" && document.getElementById("chng_ac").value === "web" && document.getElementById("wb").value === ""){
                        Snackbar.show({
            		text: "Please provide your web app url",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                }
                 else if(document.getElementById("disp").value === "developed" && document.getElementById("chng_ac").value === "mobile" && document.getElementById("ply").value === ""){
                         Snackbar.show({
            		text: "Please provide your app playstore url",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    }) 
                }
                 else{
                     if(document.getElementById("disp").value === "developed"){
                             location.href = `/add-script?t=${document.getElementById("id_title").value}&ind=${document.getElementById("id_cat").value}&bdy=${document.getElementById("id_sum").value}&type=${document.getElementById("chng_ac").value}`
                      
                     }
                     else{
                     current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.hide()
            cur = cur + 1
                     }
                }
            }
            else if(cur === 1){
                if(document.getElementById("duration").value == ""){
                        Snackbar.show({
            		text: "Please select your idea duration",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
              
                    })  
                }
                else if(document.getElementById("start_price").value == ""){
                        Snackbar.show({
            		text: "Please provide your idea starting price",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
                        })
                }
                else if(document.getElementById("res_price").value == "") {
                         Snackbar.show({
            		text: "Please Provide your idea reserve price",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
                        })
                }
                else if(parseInt(document.getElementById("start_price").value) > parseInt(document.getElementById("res_price").value)){
                      Snackbar.show({
            		text: "Ensure reserve price is greater than start price",
            		pos: 'top-center',
            		showAction: false,
            		actionText: "Dismiss",
            		duration: 6000,
            		textColor: '#fff',
            		backgroundColor: 'red'
                        })
                }
                else {
                current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.hide()
            cur = cur + 1
            
            document.getElementById("pre-title").innerHTML = document.getElementById("id_title").value
            document.getElementById("pre-sum").innerHTML = document.getElementById("id_sum").value
            document.getElementById("pre_dur").innerHTML = "<b>Duration:</b> " + document.getElementById("duration").value + " days"
            document.getElementById("pre_start_price").innerHTML = "<b>Start Price:</b> NGN" + document.getElementById("start_price").value
            document.getElementById("pre_res_price").innerHTML = "<b>Reserve Price:</b> NGN" + document.getElementById("res_price").value
            document.getElementById("pre_buy_now").style.display = "none"
            document.getElementById("pre_dev_opt").style.display = "none"
            document.getElementById("pre_cat").innerHTML = "<b>Category:</b> " + document.getElementById("id_cat").value
            if(document.getElementById("disp").value === "sell"){
            document.getElementById("pre_type").innerHTML = "<b>Idea Option:</b> Sell Idea to an Investor" 
             document.getElementById("pre_ratio").style.display = "none"
             document.getElementById("pre_dev_opt").style.display = "none"
             document.getElementById("pre_web_link").style.display = "none"
             document.getElementById("pre_mobile_link").style.display = "none"
            }
            if(document.getElementById("disp").value === "co-own"){
            document.getElementById("pre_type").innerHTML = "<b>Idea Option:</b> Co-own The Idea with an Investor" 
            document.getElementById("pre_ratio").innerHTML = "<b>Percentage Ratio:</b> " + $('input[name=perc_ratio]:checked').val()
             document.getElementById("pre_dev_opt").style.display = "none"
             document.getElementById("pre_web_link").style.display = "none"
             document.getElementById("pre_mobile_link").style.display = "none"
            }
            if(document.getElementById("disp").value === "developed"){
            document.getElementById("pre_type").innerHTML = "<b>Idea Option:</b> Sell A fully developed Application or Software" 
            document.getElementById("pre_ratio").style.display = "none"
            if(document.getElementById("chng_ac").value === "web"){
                document.getElementById("pre_mobile_link").style.display = "none"
                document.getElementById("pre_ratio").style.display = "none"
                document.getElementById("pre_web_link").innerHTML = "<b>Web Url:</b> " + document.getElementById("wb").value
                document.getElementById("pre_dev_opt").innerHTML = "<b>Software Type:</b> " + document.getElementById("chng_ac").value
            }
            if(document.getElementById("chng_ac").value === "mobile"){
                document.getElementById("pre_web_link").style.display = "none"
                document.getElementById("pre_ratio").style.display = "none"
                document.getElementById("pre_mobile_link").innerHTML = "<b>Playstore Url:</b> " + document.getElementById("ply").value
                document.getElementById("pre_dev_opt").innerHTML = "<b>Software Type:</b> " + document.getElementById("chng_ac").value
            }
           } if(document.getElementById("buy_now_price").value != ""){
            document.getElementById("pre_buy_now").style.display = "block"
            document.getElementById("pre_buy_now").innerHTML = "<b>Buy Now Price:</b> NGN" + document.getElementById("buy_now_price").value
            }
            
            
            
            
            }
                var objDiv = document.getElementById("form-modal");
             objDiv.scrollTop = 0
            }
            else if(cur === 2){
                 $("#preview").hide()
                $("#ldd").show()
                console.log(document.getElementById("upload").files)
                if( document.getElementById("upload").files.length == 0 ){
                
                if(document.getElementById("disp").value == "sell"){
                    var data = {
                        title: document.getElementById("id_title").value,
                        summary: document.getElementById("id_sum").value,
                        swap_opt: document.getElementById("disp").value,
                        industry: document.getElementById("id_cat").value,
                        starting_price: document.getElementById("start_price").value,
                        nda: document.getElementById('nda').checked ? true : false,
                        res_price: document.getElementById("res_price").value,
                        buy_now_price: document.getElementById("buy_now_price").value == "" ? 0 : document.getElementById("buy_now_price").value,
                        duration: document.getElementById("duration").value
                        
                    }
                       axios.post('/add-idea', data).then(function (res) {
          console.log(res);
               if(res.data.message && res.data.path){
              	Snackbar.show({
		text: res.data.message,
		pos: 'top-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	}); 
	location.href = res.data.path
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'top-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
         $("#preview").show()
                $("#ldd").hide()
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'top-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	});    
                     $("#preview").show()
                $("#ldd").hide()
                }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'top-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	});  
	$("#preview").show()
                $("#ldd").hide()
            }
        }
        )
                }else if(document.getElementById("disp").value == "co-own"){
                         var data = {
                        title: document.getElementById("id_title").value,
                        summary: document.getElementById("id_sum").value,
                        swap_opt: document.getElementById("disp").value,
                        industry: document.getElementById("id_cat").value,
                        starting_price: document.getElementById("start_price").value,
                        nda: document.getElementById('nda').checked ? true : false,
                        res_price: document.getElementById("res_price").value,
                        buy_now_price: document.getElementById("buy_now_price").value == "" ? 0 : document.getElementById("buy_now_price").value,
                        duration: document.getElementById("duration").value,
                        ratio: $('input[name=perc_ratio]:checked').val()
                        
                    }
                       axios.post('/add-idea', data).then(function (res) {
                              console.log(res);
                                   if(res.data.message && res.data.path){
                                  	Snackbar.show({
                    		text: res.data.message,
                    		pos: 'top-center',
                    		showAction: false,
                    		actionText: "Dismiss",
                    		duration: 3000,
                    		textColor: '#fff',
                    		backgroundColor: 'green'
                    	}); 
                    	location.href = res.data.path
                                }
                                	else if(res.data.error){
                           	Snackbar.show({
                    		text: res.data.error,
                    		pos: 'top-center',
                    		showAction: false,
                    		actionText: "Dismiss",
                    		duration: 3000,
                    		textColor: '#fff',
                    		backgroundColor: 'red'
                      
                            })        
                             $("#preview").show()
                                    $("#ldd").hide()
                                	    
                                	}
                            
                            })
                           .catch(error => {
                                if(error.response){
                                
                                    if(error.response.status == 401){
                                        console.log(error.response)
                                    	Snackbar.show({
                    		text: error.response.data.error,
                    		pos: 'top-center',
                    		showAction: false,
                    		actionText: "Dismiss",
                    		duration: 3000,
                    		textColor: '#fff',
                    		backgroundColor: 'red'
                    	});    
                                         $("#preview").show()
                                    $("#ldd").hide()
                                    }
                                }
                                else if(error){
                                console.log(error)
                                     	Snackbar.show({
                    		text: 'There was an error',
                    		pos: 'top-center',
                    		showAction: false,
                    		actionText: "Dismiss",
                    		duration: 3000,
                    		textColor: '#fff',
                    		backgroundColor: 'red'
                    	});  
                    	$("#preview").show()
                                    $("#ldd").hide()
                                }
                            }
                            )
                }
                else if(document.getElementById("disp").value == "developed"){
                    
                }
          
}   
       else{
 let fd = new FormData();
      var upload = $('#upload')[0].files[0];
       if(document.getElementById("disp").value == "sell"){
                     fd.append('upload', upload);
        fd.append('title', document.getElementById("id_title").value)
        fd.append('summary', document.getElementById("id_sum").value)
        fd.append('swap_opt', document.getElementById("disp").value)
        fd.append('industry', document.getElementById("id_cat").value)
        fd.append("nda", document.getElementById('nda').checked ? true : false)
        fd.append('starting_price', document.getElementById("start_price").value)
        fd.append('res_price', document.getElementById("res_price").value)
        fd.append('buy_now_price', document.getElementById("buy_now_price").value == "" ? 0 : document.getElementById("buy_now_price").value)
        fd.append('duration', document.getElementById("duration").value)
           
                       axios.post('/add-idea-attach', fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }).then(function (res) {
          console.log(res);
               if(res.data.message && res.data.path){
              	Snackbar.show({
		text: res.data.message,
		pos: 'top-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	}); 
	location.href = res.data.path
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'top-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
         $("#preview").show()
                $("#ldd").hide()
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'top-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	});    
                     $("#preview").show()
                $("#ldd").hide()
                }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'top-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	});  
	$("#preview").show()
                $("#ldd").hide()
            }
        }
        )
                }else if(document.getElementById("disp").value == "co-own"){
         
        fd.append('upload', upload);
        fd.append('title', document.getElementById("id_title").value)
        fd.append('summary', document.getElementById("id_sum").value)
        fd.append('swap_opt', document.getElementById("disp").value)
        fd.append('industry', document.getElementById("id_cat").value)
        fd.append('starting_price', document.getElementById("start_price").value)
        fd.append('nda', document.getElementById('nda').checked ? true : false)
        fd.append('res_price', document.getElementById("res_price").value)
        fd.append('buy_now_price', document.getElementById("buy_now_price").value == "" ? 0 : document.getElementById("buy_now_price").value)
        fd.append('duration', document.getElementById("duration").value)
        fd.append('ratio', $('input[name=perc_ratio]:checked').val())
                       axios.post('/add-idea-attach', fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }).then(function (res) {
                              console.log(res);
                                   if(res.data.message && res.data.path){
                                  	Snackbar.show({
                    		text: res.data.message,
                    		pos: 'top-center',
                    		showAction: false,
                    		actionText: "Dismiss",
                    		duration: 3000,
                    		textColor: '#fff',
                    		backgroundColor: 'green'
                    	}); 
                    	location.href = res.data.path
                                }
                                	else if(res.data.error){
                           	Snackbar.show({
                    		text: res.data.error,
                    		pos: 'top-center',
                    		showAction: false,
                    		actionText: "Dismiss",
                    		duration: 3000,
                    		textColor: '#fff',
                    		backgroundColor: 'red'
                      
                            })        
                             $("#preview").show()
                                    $("#ldd").hide()
                                	    
                                	}
                            
                            })
                           .catch(error => {
                                if(error.response){
                                
                                    if(error.response.status == 401){
                                        console.log(error.response)
                                    	Snackbar.show({
                    		text: error.response.data.error,
                    		pos: 'top-center',
                    		showAction: false,
                    		actionText: "Dismiss",
                    		duration: 3000,
                    		textColor: '#fff',
                    		backgroundColor: 'red'
                    	});    
                                         $("#preview").show()
                                    $("#ldd").hide()
                                    }
                                }
                                else if(error){
                                console.log(error)
                                     	Snackbar.show({
                    		text: 'There was an error',
                    		pos: 'top-center',
                    		showAction: false,
                    		actionText: "Dismiss",
                    		duration: 3000,
                    		textColor: '#fff',
                    		backgroundColor: 'red'
                    	});  
                    	$("#preview").show()
                                    $("#ldd").hide()
                                }
                            }
                            )
                }
                else if(document.getElementById("disp").value == "developed"){
                    
                }
      
         
      }
            }
            // current_fs = $(this).parent();
            // next_fs = $(this).parent().next();

            // //activate next step on progressbar using the index of next_fs
            // $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            // //show the next fieldset
            // next_fs.show();
            // //hide the current fieldset with style
            // current_fs.hide()
        });

        $(".previous").click(function () {
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();
            var objDiv = document.getElementById("form-modal");
             objDiv.scrollTop = 0;
            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.hide()
            cur = cur - 1
            	$("#preview").show()
                $("#ldd").hide()
        });

        $(".submit").click(function () {
            return false;
        })
    }; 
    
    /*Function Calls*/  
    verificationForm ();
})(jQuery);
</script>