<%- include("partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<%- include("partials/nav_dash") %>
<!-- Dashboard Container -->
<div class="dashboard-container">

<%- include("sidebar") %>

	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar="init"><div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 441px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
		<div class="dashboard-content-inner" style="min-height: 1066px;">
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>UPLOAD SCRIPT</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Upload Script</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-code"></i> Upload</h3>
						</div>

						<div class="content">
							<ul class="fields-ul">
							<li>
								<div class="row">
									<div class="col-xl-4">
											<div class="submit-field">
												<h5>Your Script Price</h5>
												<input type="number" class="with-border" value="">
											</div>
										</div>
                                    <div class="col-xl-4">
										<div class="submit-field">
											<h5>Industry</h5>
											<select class=" py-3">
											<option value="">Select App Type</option>
											<% inds.forEach(ind => { %>
											
											<option value="<%= ind.title %>"><%= ind.title %></option>
											
											<% }) %>
                            			</select></div>
                            			</div>
									<!--<div class="col-xl-4">-->
									<!--	<div class="submit-field">-->
									<!--		<h5>Tags <i class="help-icon" data-tippy-placement="right" data-tippy="" data-original-title="Add up to 10 tags"></i></h5>-->

											<!-- Skills List -->
											<!--<div class="keywords-container">-->
											<!--	<div class="keyword-input-container">-->
											<!--		<input type="text" class="keyword-input with-border" placeholder="e.g. Angular, Laravel">-->
											<!--		<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>-->
											<!--	</div>-->
											<!--	<div class="keywords-list" style="height: auto;">-->
													
													
													
													
													
											<!--	</div>-->
											<!--	<div class="clearfix"></div>-->
											<!--</div>-->
									<!--	</div>-->
									<!--</div>-->

									<div class="col-xl-4">
										<div class="submit-field">
											
											<!-- Attachments -->
											<!--<div class="attachments-container margin-top-0 margin-bottom-0">-->
											<!--	<div class="attachment-box ripple-effect">-->
											<!--		<span>Cover Letter</span>-->
											<!--		<i>PDF</i>-->
											<!--		<button class="remove-attachment" data-tippy-placement="top" data-tippy="" data-original-title="Remove"></button>-->
											<!--	</div>-->
											<!--	<div class="attachment-box ripple-effect">-->
											<!--		<span>Contract</span>-->
											<!--		<i>DOCX</i>-->
											<!--		<button class="remove-attachment" data-tippy-placement="top" data-tippy="" data-original-title="Remove"></button>-->
											<!--	</div>-->
											<!--</div>-->
											<div class="clearfix"></div>
											
											<!-- Upload Button -->
											<div class="uploadButton margin-top-0 mt-4 pt-2">
												<input class="uploadButton-input" type="file" id="upload">
												<label class="uploadButton-button ripple-effect" for="upload">Choose File</label>
												<span class="uploadButton-file-name">Maximum file size: 1 GB</span>
											</div>

										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Title</h5>
											<input type="text" class="with-border" value="<% if(title){ %> <%= title %><% } %>">
										</div>
									</div>

									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Type</h5>
											<select class=" py-3">
											<option value="">Select App Type</option>
                            				<option value="mobile">Mobile</option>
                            				<option value="web">Web</option>
                            				<option value="others">Others</option>
                            			</select></div>
                            			</div>
                            			
                            			<div class="col-xl-6">
										<div class="submit-field">
											<h5>TOOL</h5>
											<select class=" py-3">
											<option value="">Select Tool</option>
                            				<option value="Php">Php</option>
                            				<option value="Java">Java</option>
                            				<option value="Wordpress">Wordpress</option>
                            				<option value="Javascript">Javascript</option>
                            				<option value="Python">Python</option>
                            				<option value="Flutter">Flutter</option>
                            			</select></div>
                            			</div>
                            			
                                    <div class="col-xl-6">
										<div class="submit-field">
											<h5>App Demo Url</h5>
											<input type="url" class="with-border" >
										</div>
									</div>

									<div class="col-xl-12">
										<div class="submit-field">
											<h5>Give A detailed summary of your App and the installation procedures. </h5>
											<textarea cols="60" rows="5" class="with-border"><% if(body){ %> <%= body %><% } %></textarea>
										</div>
									</div>

								</div>
							</li>
						</ul>
						</div>
					</div>
				</div>
				<!-- Button -->
				<div class="col-xl-12">
					<a href="#" class="button ripple-effect big margin-top-30">Upload</a>
				</div>

			</div>
			<!-- Row / End -->


 <%- include("partials/footer_dash") %>

<%- include("partials/footer_empty") %>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
 <script>
 upload(files) {
  const config = {
    onUploadProgress: function(progressEvent) {
      var percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
      console.log(percentCompleted)
    }
  }

  let data = new FormData()
  data.append('file', files[0])
  data.

  axios.post('/upload-script', data, config)
    .then(res => console.log(res))
    .catch(err => console.log(err))
}
 </script>
