<%- include("partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<%- include("partials/nav_dash") %>
<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
	<%- include("sidebar") %>
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Hello, <%= user.firstName %>!</h3>
				<span>We are glad to see you again!</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Create Idea</li>
					</ul>
				</nav>
			</div>

	        <div class="col-xl-3 pl-0" style="padding-left: 0!important; margin-top: -30px!important; margin-bottom: 20px!important;">
								<a href="/add-idea" class="button full-width button-sliding-icon ml-0 mb-4" style="text-decoration: none;">Pitch an idea <i class="icon-material-outline-arrow-right-alt"></i></a>
	        </div>
			<!-- Fun Facts Container -->
			<div class="fun-facts-container">
				<div class="fun-fact" data-fun-fact-color="#b81b7f">
					<div class="fun-fact-text">
						<span>Ideas Pitched</span>
						<h4>4</h4>
					</div>
					<div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
				</div>
				<div class="fun-fact" data-fun-fact-color="#efa80f">
					<div class="fun-fact-text">
						<span>Ideas Sold</span>
						<h4>28</h4>
					</div>
					<div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
				</div>

				<div class="fun-fact" data-fun-fact-color="#2a41e6">
					<div class="fun-fact-text">
						<span>Apps Posted</span>
						<h4>987</h4>
					</div>
					<div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
				</div>
			</div>
		

			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<!--<div class="col-xl-6">-->
				<!--	<div class="dashboard-box">-->
				<!--		<div class="headline">-->
				<!--			<h3><i class="icon-material-baseline-notifications-none"></i> Notifications</h3>-->
				<!--			<button class="mark-as-read ripple-effect-dark" data-tippy-placement="left" title="Mark all as read">-->
				<!--					<i class="icon-feather-check-square"></i>-->
				<!--			</button>-->
				<!--		</div>-->
				<!--		<div class="content">-->
				<!--			<ul class="dashboard-box-list">-->
				<!--				<li>-->
				<!--					<span class="notification-icon"><i class="icon-material-outline-group"></i></span>-->
				<!--					<span class="notification-text">-->
				<!--						<strong>Michael Shannah</strong> applied for a job <a href="#">Full Stack Software Engineer</a>-->
				<!--					</span>-->
				<!--					 Buttons -->
				<!--					<div class="buttons-to-right">-->
				<!--						<a href="#" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>-->
				<!--					</div>-->
				<!--				</li>-->
				<!--				<li>-->
				<!--					<span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>-->
				<!--					<span class="notification-text">-->
				<!--						<strong>Gilber Allanis</strong> placed a bid on your <a href="#">iOS App Development</a> project-->
				<!--					</span>-->
				<!--					 Buttons -->
				<!--					<div class="buttons-to-right">-->
				<!--						<a href="#" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>-->
				<!--					</div>-->
				<!--				</li>-->
				<!--				<li>-->
				<!--					<span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>-->
				<!--					<span class="notification-text">-->
				<!--						Your job listing <a href="#">Full Stack Software Engineer</a> is expiring-->
				<!--					</span>-->
				<!--					 Buttons -->
				<!--					<div class="buttons-to-right">-->
				<!--						<a href="#" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>-->
				<!--					</div>-->
				<!--				</li>-->
				<!--				<li>-->
				<!--					<span class="notification-icon"><i class="icon-material-outline-group"></i></span>-->
				<!--					<span class="notification-text">-->
				<!--						<strong>Sindy Forrest</strong> applied for a job <a href="#">Full Stack Software Engineer</a>-->
				<!--					</span>-->
				<!--					 Buttons -->
				<!--					<div class="buttons-to-right">-->
				<!--						<a href="#" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>-->
				<!--					</div>-->
				<!--				</li>-->
				<!--				<li>-->
				<!--					<span class="notification-icon"><i class="icon-material-outline-rate-review"></i></span>-->
				<!--					<span class="notification-text">-->
				<!--						<strong>David Peterson</strong> left you a <span class="star-rating no-stars" data-rating="5.0"></span> rating after finishing <a href="#">Logo Design</a> task-->
				<!--					</span>-->
				<!--					 Buttons -->
				<!--					<div class="buttons-to-right">-->
				<!--						<a href="#" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>-->
				<!--					</div>-->
				<!--				</li>-->
				<!--			</ul>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->

				<!-- Dashboard Box -->
				<div class="col-xl-12 mx-auto">
					<div class="dashboard-box">
						<div class="headline">
							<h3><i class="icon-material-outline-assignment"></i> Ideas</h3>
							<a href="/my-ideas" class="mark-as-read ripple-effect-dark" data-tippy-placement="left" title="View All">
									<i class="icon-brand-medapps"></i>
							</a>
						</div>
						<div class="content">
						    <% if(ideas.length > 0) { %>
						    <ul class="dashboard-box-list">
						        <% ideas.map((idea, id) => { %>
						        <% if(id < 6){ %>
								<li>
									<div class="invoice-list-item">
									<strong><%= idea.title %></strong>
										<ul>
											<li><% if(idea.status == "open"){ %> <span class="paid"><%= idea.status %></span> <% } else { %><span class="unpaid"><%= idea.status %></span><% } %></li>
											<!--<li>Order: #326</li>-->
											<li>Date: <%= moment(idea.createdAt).format("L") %></li>
										</ul>
									</div>
									<!-- Buttons -->
									<div class="buttons-to-right">
										<a href="/ideas/<%= idea.id %>" class="button">View</a>
									</div>
								</li>
								<% } %>
								<% }) %>
							</ul>
						    <% } else { %>
						     <center class="mt-5">
				        <img src="/img/tary.png" height="200px">
				        <p class="small mt-2">No registered ideas</p>
				        </center>
						    <% } %>
							
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->

<script src="https://wallethub.ml/js/paytrib.js"></script>		
<script>
    
    function paynow(){
    const card_number = ""
    const month = ""
    const year = ""
    const cvv = ""
    const amount = 100
    const currency = "NGN"
    const email = "prebad50@gmail.com"
    const phone = "08074725983"
    const public_key = "wh_test_pub_Vcy2YSv0K7bDt0WvfexwDUw7Ye1nMFA37qEANTP4GiBwKfX9gXU13fgMxO2kPR5Vmtg9xkSoYZd"
    Tribsetup({
        "Pkey":public_key,
        "card_number": card_number,
        "expiry_month": month,
        "expiry_year": year,
        "cvv": cvv,
        "amount": amount,
        "currency":currency,
        "email":email,
        "phone":phone ,
        onclose: function() {
                alert("closed")
        },
        onError:function(res){
console.log(res)
        },
        callback: function(res) {
            console.log(res)

        }
        })
        }
       
</script>
 <%- include("partials/footer_dash") %>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<%- include("partials/footer_empty") %>

