<%- include("partials/header_dash") %>

<%- include("partials/nav_dash") %>

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>404 Not Found</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><%= error.status %></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<!-- Page Content
================================================== -->
<!-- Container -->
<div class="container">

	<div class="row">
		<div class="col-xl-12">

			<section id="not-found" class="center margin-top-50 margin-bottom-25">
			    <% if(error.status == 404){ %>
				<h2><%= error.status %> <i class="icon-line-awesome-question-circle"></i></h2>
				<p>We're sorry, but the page you were looking for doesn't exist</p>
				<% } else{ %>
				<h2><%= error.status %> <i class="icon-line-awesome-question-circle"></i></h2>
				<p><%= error.message %></p>
				<p class="small"><%= error.stack %></p>
				<% } %>
			</section>

			<div class="row">
				<div class="col-xl-8 offset-xl-2">
						<center>
								<a href="/" class="button ripple-effect">Home</a>
								</center>
				</div>
			</div>

		</div>
	</div>

</div>
<!-- Container / End -->

	<% if(!user){ %>
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#login">Log In</a></li>
			<li><a href="#register">Register</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Login -->
			<div class="popup-tab-content" id="login">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>We're glad to see you again!</h3>
					<span>Don't have an account? <a href="#" class="register-tab">Sign Up!</a></span>
				</div>
					
				<!-- Form -->
				<form onsubmit="sub_login(event)" id="login-form">
				    <div id="error_login"></div>
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress" id="email" placeholder="Email Address" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" required/>
					</div>
					<a href="#" class="forgot-password">Forgot Password?</a>
				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="login-form" id="btn_login">Log In <i class="icon-material-outline-arrow-right-alt"></i></button>
				
			
			</div>

			<!-- Register -->
			<div class="popup-tab-content" id="register">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Let's create your account!</h3>
				</div>

				<!-- Account Type -->
				<div class="account-type">
					<div>
						<input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked/>
						<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> User</label>
					</div>

					<div>
						<input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio"/>
						<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Investor</label>
					</div>
				</div>
					
				<!-- Form -->
				<form onsubmit="sub_register(event)" id="register-account-form">
				    <div id="error_register"></div>
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress-register" id="email-register" placeholder="Email Address" required/>
					</div>

					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password-register" id="password-register" placeholder="Password" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password-repeat-register" id="password-2-register" placeholder="Repeat Password" required/>
					</div>
				</form>
				
				<!-- Button -->
				<button class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="submit" form="register-account-form" id="btn_register">Register <i class="icon-material-outline-arrow-right-alt"></i></button>
				
				

			</div>

		</div>
	</div>
</div>

<% } %>
<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
<%- include("partials/footer2") %>
<% if(!user){ %>
<script>
    const sub_login = (event) => {
       event.preventDefault()
        var email = document.getElementById("email").value;
        var pass = document.getElementById("password").value;
        var err = document.getElementById("error_login")
        var btn = document.getElementById("btn_login")
        
        err.innerHTML = ""
        btn.innerHTML = "loading"
        btn.disabled = true
        
        axios.post("/login", {
            email: email,
            password: pass
        }).then(res => {
            console.log(res)
            if(res.data.message){
                err.innerHTML = `<div class="notification success"><p>${res.data.message}</p></div>`
                 btn.innerHTML = "Log In"
        btn.disabled = false
        location.href = "/dashboard"
        
            }
            else if(res.data.error){
                 err.innerHTML = `<div class="notification error"><p>${res.data.error}</p></div>`
             btn.innerHTML = "Log In"
        btn.disabled = false
            
            }
        }).catch(er => {
            if(er){
                console.log(er)
                err.innerHTML = `<div class="notification error"><p>There was an error with your request</p></div>`
                  btn.innerHTML = "Log In"
        btn.disabled = false
              
            }
        })
    }
    
    const sub_register = (event) => {
           event.preventDefault()
        var email = document.getElementById("email-register").value;
        var pass = document.getElementById("password-register").value;
        var pass2 = document.getElementById("password-2-register").value;
        var err = document.getElementById("error_register")
        var btn = document.getElementById("btn_register")
        
        err.innerHTML = ""
        btn.innerHTML = "loading"
        btn.disabled = true
          if(!document.getElementById("freelancer-radio").checked && !document.getElementById("employer-radio").checked){
             err.innerHTML = `<div class="notification error"><p>No account type selected</p></div>`
                   btn.innerHTML = "Register"
        btn.disabled = false
        
        }
        else if(pass2 != pass){
            err.innerHTML = `<div class="notification error"><p>Passwords do not match</p></div>`
                  btn.innerHTML = "Register"
        btn.disabled = false
        
        }else{
            if(document.getElementById("freelancer-radio").checked){
                var acct_type = "user"
            }else if(document.getElementById("employer-radio").checked){
                var acct_type = "investor"
            }
        axios.post("/register", {
            email: email,
            password: pass, 
            acct_type: acct_type
        }).then(res => {
            console.log(res)
            if(res.data.message){
                err.innerHTML = `<div class="notification success"><p>${res.data.message}</p></div>`
                 btn.innerHTML = "Register"
        btn.disabled = false
        location.href = res.data.path
        
            }
            else if(res.data.error){
                 err.innerHTML = `<div class="notification error"><p>${res.data.error}</p></div>`
             btn.innerHTML = "Register"
        btn.disabled = false
            
            }
        }).catch(er => {
            if(er){
                console.log(er)
                err.innerHTML = `<div class="notification error"><p>There was an error with your request</p></div>`
                  btn.innerHTML = "Register"
        btn.disabled = false
              
            }
        })
        }
    }
</script>
<% } %>
