<%- include("partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<style>
.countdown.red {
    background-color: #ffd4d4;
    color: #c51616;
}
   .unverified-badge-with-title {
	position: relative;
	height: 26px;
	display: flex;
	top: -1px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	background-color: #de5959;
	text-align: center;
	z-index: 10;
	font-weight: 500;
	border-radius: 4px;
	padding: 0 8px 0 0;
	margin: 0;
	overflow: hidden;
	padding-left: 34px;
	line-height: 27px;
}
.unverified-badge-with-title:before {
	content: "\f405";
	font-family: "Ionicons";
	font-size: 16px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 26px;
	height: 26px;
	width: 26px;
	display: inline-block;
	background-color: #de5959;
}
</style>
<%- include("partials/nav_dash") %>

<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="/img/idea-1880978_1920.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
				    							<% function nFormatter(num, digits) {
  var si = [
    { value: 1, symbol: "" },
    { value: 1E3, symbol: "k" },
    { value: 1E6, symbol: "M" },
    { value: 1E9, symbol: "G" },
    { value: 1E12, symbol: "T" },
    { value: 1E15, symbol: "P" },
    { value: 1E18, symbol: "E" }
  ];
  var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
  var i;
  for (i = si.length - 1; i > 0; i--) {
    if (num >= si[i].value) {
      break;
    }
  }
  return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
} %>
					<div class="left-side">
						<div class="header-image"><a href="#"><img src="/img/undraw_new_ideas_jdea.png" alt="<%= idea.title %>"></a></div>
						<div class="header-details">
							<h3><%= idea.title %></h3>
								<h5>Confidentiality</h5>
							<ul>
							    <% if(idea.nda){ %>
								<li><div class="verified-badge-with-title">IDEA CONFIDENTIAL</div></li>
								<% } else { %>
								<li><div class="unverified-badge-with-title">IDEA PUBLIC</div></li>
								<% } %>	
								<li><a href="#"><i class="icon-material-outline-dashboard"></i>IDEA TYPE: <% if(idea.idea_type == "sell"){ %> sell <% } %><% if(idea.idea_type == "co-own"){ %> Co-own (<%= idea.ratio %>) <% } %></a></li>
								<li><div class="badge badge-info text-uppercase"> <%= idea.industry %></a></li>
							<!--<% if(parseInt(idea.buy_now_price) > 0){ %><li class="small"><%- cur %><%= nFormatter(parseInt(idea.buy_now_price), 1) %>(buy-now)</li><% } %>-->
							</ul>
						</div>
					</div>
					<div class="right-side">
						<div class="salary-box">
							<div class="salary-type">Project Pricing</div>

							<div class="salary-amount"><%- cur %><%= nFormatter(parseInt(idea.idea_price_min), 1) %> - <%- cur %><%= nFormatter(parseInt(idea.idea_price_max), 1) %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
	    <% if(idea.status == "review"){ %>
		<div class="col-xl-12 mx-3 notification notice">
				<p>Your idea being reviewed by our team and would be open to bids when approved</p>
			</div>
		<% } %>
		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">
			<div class="px-0 my-2 col-xl-3">
			    <% if(idea.status == "review"){ %>
                <div class="countdown red margin-bottom-35 mt-3">NOT YET ACTIVE</div>
                <% } else if(idea.status == "open") { %>
				<div class="countdown green margin-bottom-35 mt-3" id="timer">0 d, 0 h, 0 m, 0 s  left</div>
				<script>
				  var countDownDate = new Date("<%= idea.createdAt %>")
                countDownDate.setDate(countDownDate.getDate() + parseInt("<%= idea.idea_time %>"))
                
                var countDate = countDownDate.getTime()
                // Update the count down every 1 second
                var x = setInterval(function() {
                
                  // Get today's date and time
                  var now = new Date().getTime();
                
                  // Find the distance between now and the count down date
                  var distance = countDate - now;
                
                  // Time calculations for days, hours, minutes and seconds
                  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
                  // Display the result in the element with id="demo"
                  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
                  + minutes + "m " + seconds + "s ";
                
                  // If the count down is finished, write some text
                  if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("timer").innerHTML = "BIDDING CLOSED";
                  }
                }, 1000);
				</script>
				<% } else if(idea.status == "closed"){ %>
				 <div class="countdown red margin-bottom-35 mt-3">BIDDING CLOSED</div>
				<% } %>
			</div>
			<!-- Description -->
			<div class="single-page-section">
				<h3 class="margin-bottom-25">Idea Description</h3>
				<p><%= idea.summary %></p>
				</div>

			<!-- Atachments -->
			<% if(idea.attach_url){ %>
			<div class="single-page-section">
				<h3>Attachment</h3>
				<div class="attachments-container">
					<a href="<%= idea.attach_url %>" download="<%= idea.title %>_Brief" class="attachment-box ripple-effect"><span>Idea Attachment</span><i>PDF</i></a>
				</div>
			</div>
            <% } %>
		
			<div class="clearfix"></div>
			
			<!-- Freelancers Bidding -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-group"></i> Investors Bidding</h3>
				</div>
				<ul class="boxed-list-ul" id="list">
				    
				     <% if(bids.length > 0){ %>
				    <% bids.map(bid => { %>
				    <li>
						<div class="bid">
							 <!--Avatar -->
							<div class="bids-avatar">
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a href="/profile/<%= bid.user.id %>"><img src="<%= bid.user.img_url %>" alt=""></a>
								</div>
							</div>
							
							 <!--Content -->
							<div class="bids-content">
								 <!--Name -->
								<div class="freelancer-name">
									<h4><a href="/profile/<%= bid.user.id %>"><%= bid.user.firstName %> <%= bid.user.lastName %> </a></h4>
									<% if(bid.accepted){ %>
									<a href="#" class="p-1 mt-2 button ripple-effect button-sliding-icon" style="width: 155.406px; background: #60f368!important" disabled>Accepted <i class="icon-feather-check"></i></a>
									
									<% }else { %>
									<% if(accepted){ %>
									
									<a href="#" class="p-1 mt-2 button dark ripple-effect button-sliding-icon" style="width: 155.406px;" disabled>Accept Bid <i class="icon-feather-check"></i></a>
									
									<% } else{ %>
									<a href="javascript: void(0);" onclick="accept_bid('<%= bid.amount %>', '<%= bid.id %>')" class="p-1 mt-2 button dark ripple-effect button-sliding-icon" style="width: 155.406px;">Accept Bid <i class="icon-feather-check"></i></a>
									<% } %>
									<% } %>
								</div>
							</div>
							
							 <!--Bid -->
							<div class="bids-bid">
								<div class="bid-rate">
									<div class="rate"><%- cur %><%= bid.amount %></div>
									<span><%= moment(bid.createdAt).fromNow() %></span>
								</div>
							</div>
						</div>
					</li>
					<li>
				    <% }) %>
				    <% } else { %>
				    <center class="mt-5">
				        <img src="/img/tary.png" height="200px">
				        <p class="small mt-2">No Bids available</p>
				    </center>
				    <% } %>
				
				</ul>
			</div>

		</div>
		

		<!-- Sidebar -->
		<!--<div class="col-xl-4 col-lg-4">-->
		<!--	<div class="sidebar-container">-->

		<!--		<div class="countdown green margin-bottom-35">6 days, 23 hours left</div>-->

		<!--		<div class="sidebar-widget">-->
		<!--			<div class="bidding-widget">-->
		<!--				<div class="bidding-headline"><h3>Bid on this job!</h3></div>-->
		<!--				<div class="bidding-inner">-->

							<!-- Headline -->
		<!--					<span class="bidding-detail">Set your <strong>minimal rate</strong></span>-->

							<!-- Price Slider -->
		<!--					<div class="bidding-value"><%- cur %><span id="biddingVal"></span></div>-->
		<!--					<input class="bidding-slider" type="text" value="" data-slider-handle="custom" data-slider-currency="<%- cur %>" data-slider-min="<%= idea.idea_price_min %>" data-slider-max="<%= idea.idea_price_max %>" data-slider-value="auto" data-slider-step="50" data-slider-tooltip="hide" />-->
							
							

							<!-- Button -->
		<!--					<button id="snackbar-place-bid" class="button ripple-effect move-on-hover full-width margin-top-30"><span>Place a Bid</span></button>-->

		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->


		<!--	</div>-->
		<!--</div>-->

	</div>
</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->
			
 <%- include("partials/footer2") %>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
 
  <script>
     var pusher = new Pusher('5bee59e13c42b1428b28', { cluster: 'eu' });

        // retrieve the socket ID once we're connected
        pusher.connection.bind('connected', function () {
            // attach the socket ID to all outgoing Axios requests
            axios.defaults.headers.common['X-Socket-Id'] = pusher.connection.socket_id;
        });

        // request permission to display notifications, if we don't alreay have it
        // Notification.requestPermission();
        pusher.subscribe('bid-notifications')
                .bind('bid_added', function (data) {
                console.log(data)
                if(data.id === <%= idea.id %>){
                 document.getElementById("list").innerHTML = data.bids.map(bid => {
                     if(bid.accepted === true){
                     return `
                     <li>
						<div class="bid">
							 <!--Avatar -->
							<div class="bids-avatar">
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a href="/profile/${bid.user.id}"><img src="${bid.user.img_url}" alt=""></a>
								</div>
							</div>
							
							 <!--Content -->
							<div class="bids-content">
								 <!--Name -->
								<div class="freelancer-name">
									<h4><a href="/profile/${bid.user.id }"> ${bid.user.firstName} ${bid.user.lastName} </a></h4>
									<a href="#" class="p-1 mt-2 button ripple-effect button-sliding-icon" style="width: 155.406px; color: #60f368!important" disabled>Accepted <i class="icon-feather-check"></i></a>
								</div>
							</div>
							
							 <!--Bid -->
							<div class="bids-bid">
								<div class="bid-rate">
									<div class="rate"><%- cur %>${bid.amount}</div>
									<span>${moment(bid.createdAt).fromNow()}</span>
								</div>
							</div>
						</div>
					</li>
                     `
                     }
                     else {
                    if(accepted === true){
                          return `
                     <li>
						<div class="bid">
							 <!--Avatar -->
							<div class="bids-avatar">
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a href="/profile/${bid.user.id}"><img src="${bid.user.img_url}" alt=""></a>
								</div>
							</div>
							
							 <!--Content -->
							<div class="bids-content">
								 <!--Name -->
								<div class="freelancer-name">
									<h4><a href="/profile/${bid.user.id }"> ${bid.user.firstName} ${bid.user.lastName} </a></h4>
									<a href="# class="p-1 mt-2 button dark ripple-effect button-sliding-icon" style="width: 155.406px;" disabled>Accept Bid <i class="icon-feather-check"></i></a>
								</div>
							</div>
							
							 <!--Bid -->
							<div class="bids-bid">
								<div class="bid-rate">
									<div class="rate"><%- cur %>${bid.amount}</div>
									<span>${moment(bid.createdAt).fromNow()}</span>
								</div>
							</div>
						</div>
					</li>
                     `   
                    }
                    else {
                      return `
                     <li>
						<div class="bid">
							 <!--Avatar -->
							<div class="bids-avatar">
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a href="/profile/${bid.user.id}"><img src="${bid.user.img_url}" alt=""></a>
								</div>
							</div>
							
							 <!--Content -->
							<div class="bids-content">
								 <!--Name -->
								<div class="freelancer-name">
									<h4><a href="/profile/${bid.user.id }"> ${bid.user.firstName} ${bid.user.lastName} </a></h4>
									<a href="javascript: void(0);" onclick="accept_bid('${bid.amount}'', '${bid.id}')" class="p-1 mt-2 button dark ripple-effect button-sliding-icon" style="width: 155.406px;">Accept Bid <i class="icon-feather-check"></i></a>
								</div>
							</div>
							
							 <!--Bid -->
							<div class="bids-bid">
								<div class="bid-rate">
									<div class="rate"><%- cur %>${bid.amount}</div>
									<span>${moment(bid.createdAt).fromNow()}</span>
								</div>
							</div>
						</div>
					</li>
                     `   
                     }
                     }
                 })   
                }

                });

    const accept_bid = (val, bid_id) => {
        $.confirm({
    title: 'Accept Bid?',
    content: 'Accept Current Bid of NGN' + val + " ?",
    buttons: {
        confirm: function () {
             /* your callback code */ 
        axios.post('/accept-bid',
          {idea_id: '<%= idea.id %>',
            bid_id: bid_id,
            user_id: '<%= user.id %>'
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message ){
              	Snackbar.show({
		text: res.data.message,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	});
	location.reload()
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
            }
        }
        )
        },
        cancel: function () {
           
        }
    }
});
   
}
 </script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

