<%- include("partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


<%- include("partials/nav_dash") %>
<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="/img/idea-1880978_1920.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image"><a href="#"><img src="/img/undraw_new_ideas_jdea.png" alt="ideas"></a></div>
						<div class="header-details">
							<h3>NDA IDEAS</h3>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<div class="companies-list">
			    <% if(ideas.length > 0){ %>
			    <% ideas.map(idea => { %>
				<a href="/nda-ideas/<%= idea.id %>" class="company">
					<div class="company-inner-alignment">
						<span class="company-logo"><img src="img/ideamg.jpg" alt="<%= idea.title %>"></span>
						<h4><%= idea.title %></h4>
						<p class="small"><%= idea.industry %></p>
						<span class="company-not-rated"><%= moment(idea.createdAt).fromNow() %></span>
					</div>
				</a>
				
				<% }) %>
				
				<% } else { %>
						<div class="col-xl-6 mx-auto">
                        <center class="mt-5 pb-3">
				        <img src="/img/undraw_void_3ggu (1).png" height="350px">
				        <p class="small mt-2">No ndas available</p>
				    </center>
				<% } %>
			
			</div>
		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->
	
	</div>	
 <%- include("partials/footer2") %>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
 <script>
 
 
    const submit_bid = () => {
        $.confirm({
    title: 'Make Bid?',
    content: 'Bid NGN' + document.getElementById("val").value + " !",
    buttons: {
        confirm: function () {
             /* your callback code */ 
        axios.post('/investor/make-bid',
          {idea_id: ''',
            amount: document.getElementById("val").value,
            user_id: '<%= user.id %>'
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message ){
              	Snackbar.show({
		text: res.data.message,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	});
	location.reload()
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
            }
        }
        )
        },
        cancel: function () {
           
        }
    }
});
   
}
	  
	       
	</script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
