<%- include("partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<%- include("partials/nav_dash") %>
<!-- Dashboard Container -->
<div class="dashboard-container">
<%- include("sidebar") %>


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
	    <div class="dashboard-content-inner" style="min-height: 1428px;">
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Manage NDAS</h3>
				<span class="margin-top-7">NDAS for <a href="/ideas/<%= idea.id %>"><%= idea.title %></a></span>

				<!-- Breadcrumbs -->
				<!--<nav id="breadcrumbs" class="dark">-->
				<!--	<ul>-->
				<!--		<li><a href="#">Home</a></li>-->
				<!--		<li><a href="#">Dashboard</a></li>-->
				<!--		<li>Manage Bidders</li>-->
				<!--	</ul>-->
				<!--</nav>-->
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-supervisor-account"></i> <%= ndas.length %> NDAS</h3>
							<!--<div class="sort-by">-->
							<!--	<div class="btn-group bootstrap-select hide-tick"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Highest First"><span class="filter-option pull-left">Highest First</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">Highest First</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Lowest First</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Fastest First</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker hide-tick" tabindex="-98">-->
							<!--		<option>Highest First</option>-->
							<!--		<option>Lowest First</option>-->
							<!--		<option>Fastest First</option>-->
							<!--	</select></div>-->
							<!--</div>-->
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
							    <% if(ndas.length > 0){ %>
							    <% ndas.map(nda => { %>
								<li>
									<!-- Overview -->
									<div class="freelancer-overview manage-candidates">
										<div class="freelancer-overview-inner">

											<!-- Avatar -->
											<div class="freelancer-avatar">
												<div class="verified-badge"></div>
												<a href="#"><img src="<%= nda.user.img_url %>" alt="<%= nda.user.firstName %>"></a>
											</div>

											<!-- Name -->
											<div class="freelancer-name">
												<h4><a href="#"><%= nda.user.firstName %> <%= nda.user.lastName %> 
												<!-- Bid Details -->
												<ul class="dashboard-task-info bid-info">
													<li><strong>MESSAGE: </strong><span class="small"><%= nda.message %></span></li>
												</ul>

												<!-- Buttons -->
												<div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
													<a href="#" onclick="acp('<%= nda.id %>')" class="button ripple-effect" style="color: #fff;"><i class="icon-material-outline-check"></i> Accept Nda</a>
													<a href="#" onclick="dec('<%= nda.id %>')" class="button red ripple-effect ico" style="color: #fff;" data-tippy-placement="top" data-tippy="" data-original-title="Remove NDA"><i class="icon-feather-trash-2"></i></a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<% }) %>
								
								<% } else{ %>
								 <div class="col-xl-6 mx-auto pb-4">
                        <center class="mt-5">
				        <img src="/img/undraw_void_3ggu (1).png" height="350px">
				        <p class="small mt-2">No ndas available</p>
				    </center>
				    </div>
								<% } %>
							
						

							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->



 <%- include("partials/footer_dash") %>

<%- include("partials/footer_empty") %>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
 <script>
      const acp = (id) => {
        $.confirm({
    title: 'Accept NDA?',
    content: 'Are You sure you want to accept?',
    buttons: {
        confirm: function () {
             /* your callback code */ 
        axios.post('/accept-nda',
          {nda_id: id
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message ){
              	Snackbar.show({
		text: res.data.message,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	});
	location.reload()
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
            }
        }
        )
        },
        cancel: function () {
           
        }
    }
});
   
}

 const dec = (id) => {
        $.confirm({
    title: 'Decline NDA?',
    content: 'Are You sure you want to decline?',
    buttons: {
        confirm: function () {
             /* your callback code */ 
        axios.post('/decline-nda',
          {nda_id: id,
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message ){
              	Snackbar.show({
		text: res.data.message,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	});
	location.reload()
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
            }
        }
        )
        },
        cancel: function () {
           
        }
    }
});
   
}
 </script>
