<%- include("partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<%- include("partials/nav_dash") %>
<!-- Dashboard Container -->
<div class="dashboard-container">
<%- include("sidebar") %>


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
	    <div class="dashboard-content-inner" style="min-height: 1428px;">
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Pending Ideas</h3>

				<!-- Breadcrumbs -->
				<!--<nav id="breadcrumbs" class="dark">-->
				<!--	<ul>-->
				<!--		<li><a href="#">Home</a></li>-->
				<!--		<li><a href="#">Dashboard</a></li>-->
				<!--		<li>Manage Bidders</li>-->
				<!--	</ul>-->
				<!--</nav>-->
			</div>
	
			<!-- Row -->
			<div class="row">
                				    							<% function nFormatter(num, digits) {
  var si = [
    { value: 1, symbol: "" },
    { value: 1E3, symbol: "k" },
    { value: 1E6, symbol: "M" },
    { value: 1E9, symbol: "G" },
    { value: 1E12, symbol: "T" },
    { value: 1E15, symbol: "P" },
    { value: 1E18, symbol: "E" }
  ];
  var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
  var i;
  for (i = si.length - 1; i > 0; i--) {
    if (num >= si[i].value) {
      break;
    }
  }
  return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
} %>
				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-supervisor-account"></i> <%= ideas.length %> Ideas undergoing review</h3>
							<!--<div class="sort-by">-->
							<!--	<div class="btn-group bootstrap-select hide-tick"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Highest First"><span class="filter-option pull-left">Highest First</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">Highest First</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Lowest First</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Fastest First</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker hide-tick" tabindex="-98">-->
							<!--		<option>Highest First</option>-->
							<!--		<option>Lowest First</option>-->
							<!--		<option>Fastest First</option>-->
							<!--	</select></div>-->
							<!--</div>-->
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
							    <% if(ideas.length > 0){ %>
							    <% ideas.map(idea => { %>
								<li>
									<!-- Overview -->
									<div class="freelancer-overview manage-candidates">
										<div class="freelancer-overview-inner">

											<!-- Avatar -->
											<div class="freelancer-avatar">
												<div class="verified-badge"></div>
												<a href="#"><img src="/img/undraw_new_ideas_jdea.png" alt="<%= idea.title %>"></a>
											</div>

											<!-- Name -->
											<div class="freelancer-name">
												<h4><a href="#"><%= idea.title %> 
												<!-- Bid Details -->
												<ul class="dashboard-task-info bid-info">
													<li><strong>PRICE: </strong><span class="small"><%- cur %><%= nFormatter(parseInt(idea.idea_price_min), 1) %> - <%- cur %><%= nFormatter(parseInt(idea.idea_price_max), 1) %></span></li>
													<li><strong>STATUS: </strong><span class="badge badge-warning" style="color: #fff;">Undergoing review</span></li>
												</ul>

												<!-- Buttons -->
												<div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
													<a href="/ideas/<%= idea.id %>" class="button ripple-effect" style="color: #fff!important;"><i class="icon-material-outline-check"></i> View Idea</a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<% }) %>
								
								<% } else{ %>
								 <div class="col-xl-6 mx-auto pb-4">
                        <center class="mt-5">
				        <img src="/img/undraw_void_3ggu (1).png" height="250px">
				        <p class="small mt-2">No Ideas under review</p>
				    </center>
				    </div>
								<% } %>
							
						

							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->



 <%- include("partials/footer_dash") %>

<%- include("partials/footer_empty") %>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
 <script>
 </script>
