<div class="dashboard-sidebar" id="side">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<div class="dashboard-nav-container">

				<!-- Responsive Navigation Trigger -->
				<a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
					<span class="trigger-title">Dashboard Navigation</span>
				</a>
				
				<!-- Navigation -->
				<div class="dashboard-nav">
					<div class="dashboard-nav-inner">

						<ul data-submenu-title="Start">
							<li class="active"><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
							<li><a href="/add-idea"><i class="icon-material-outline-add"></i> Create Idea</a></li>
							<li><a href="/add-script"><i class="icon-material-outline-add"></i> Upload Script</a></li>
						</ul>
						
						<ul data-submenu-title="Organize and Manage">
							<!--<li><a href="#"><i class="icon-material-outline-business-center"></i> Jobs</a>-->
							<!--	<ul>-->
							<!--		<li><a href="dashboard-manage-jobs.html">Manage Jobs <span class="nav-tag">3</span></a></li>-->
							<!--		<li><a href="dashboard-manage-candidates.html">Manage Candidates</a></li>-->
							<!--		<li><a href="dashboard-post-a-job.html">Post a Job</a></li>-->
							<!--	</ul>	-->
							<!--</li>-->
							<li><a href="#"><i class="icon-material-outline-assignment"></i> Ideas</a>
								<ul>
									<li><a href="/pending-ideas">Pending Ideas</a></li>
									<li><a href="/my-ideas">My Ideas</a></li>
									<li><a href="/swapped-ideas">Swapped Ideas</a></li>
								</ul>	
							</li>
							<li><a href="#"><i class="icon-material-outline-file-copy"></i>Scripts</a>
								<ul>
									<li><a href="/pending-scripts">Pending Scripts</a></li>
									<li><a href="/my-scripts">My Scripts</a></li>
								</ul>	
							</li>
							<li><a href="#"><i class="icon-feather-folder"></i> NDAs</a>
								<ul>
									<li><a href="/nda-ideas">Manage NDAs</a></li>
								</ul>	
							</li>
						</ul>

						<ul data-submenu-title="Account">
							<li><a href="/settings"><i class="icon-material-outline-settings"></i> Settings</a></li>
							<li><a href="/logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
						</ul>
						
					</div>
				</div>
				<!-- Navigation / End -->

			</div>
		</div>
	</div>