<%- include("partials/header_dash") %>

<%- include("partials/nav_dash") %>

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Verify Acccount</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>verify email</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<!-- Page Content
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Verify your account!</h3>
					<span>Enter the token sent to your email address</span>
				</div>
					
				<!-- Form -->
				<form method="post" id="login-form" onsubmit="sub(event)">
					
                    <div id="err"></div>
					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="token" id="token" placeholder="Token" required/>
					</div>
					<a onclick="resend()" class="forgot-password">Resend Token?</a>
				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form" id="btn">Verify <i class="icon-material-outline-arrow-right-alt"></i></button>
				
			</div>

		</div>
	</div>
</div>

<!-- Container / End -->


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
<%- include("partials/footer2") %>
<script>
   function sub(event) {
        event.preventDefault();
        var err = document.getElementById("err")
        var btn = document.getElementById("btn")
        
        btn.innerHTML = "loading" + '<i class="icon-feather-refresh-ccw"></i>'
        btn.disabled = true
        err.innerHTML = ""
        axios.post("/verify-account", {
            tok: $("#token").val()
        }).then(res => {
            console.log(res)
            if(res.data.message && res.data.path){
                 err.innerHTML = `<div class="notification success"><p>${res.data.message}</p></div>`
                location.href = res.data.path
            }else if(res.data.error){
                err.innerHTML = `<div class="notification error"><p>${res.data.error}</p></div>`
                 btn.innerHTML = "Verify" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
            }
        }).catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                 err.innerHTML = `<div class="notification error"><p>${error.response.data.error}</p></div>`  
                  btn.innerHTML = "Verify" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
                }
            }
            else if(error){
            console.log(error)
                 err.innerHTML = `<div class="notification error"><p>There was an error with your request</p></div>`
                  btn.innerHTML = "verify" + '<i class="icon-material-outline-arrow-right-alt"></i>'
        btn.disabled = false
            }
        }
        )
    }
    
    const resend = () => {
           axios.post("/resend-otp").then(res => {
            console.log(res)
            if(res.data.message){
              	Snackbar.show({
		text: res.data.message,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
            }
               
           }).catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
                }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
            }
        }
        )
    }
</script>