<%- include("../partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<%- include("../partials/nav_dash") %>
<!-- Spacer -->
<div class="margin-top-90"></div>
<!-- Spacer / End-->

<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				
				<!-- Location -->
				<div class="sidebar-widget">
					<h3>Location</h3>
					<div class="input-with-icon">
						<div id="autocomplete-container">
							<input id="autocomplete-input" type="text" placeholder="Location">
						</div>
						<i class="icon-material-outline-location-on"></i>
					</div>
				</div>

				<!-- Keywords -->
				<div class="sidebar-widget">
					<h3>Keywords</h3>
					<div class="keywords-container">
						<div class="keyword-input-container">
							<input type="text" class="keyword-input" placeholder="e.g. job title"/>
							<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
						</div>
						<div class="keywords-list"><!-- keywords go here --></div>
						<div class="clearfix"></div>
					</div>
				</div>
				
				<!-- Category -->
				<div class="sidebar-widget">
					<h3>Category</h3>
					<select>
						<option>Accounting and Finance</option>
						<option>Clerical & Data Entry</option>
						<option>Counseling</option>
						<option>Court Administration</option>
						<option>Human Resources</option>
						<option>Investigative</option>
						<option>IT and Computers</option>
						<option>Law Enforcement</option>
						<option>Management</option>
						<option>Miscellaneous</option>
						<option>Public Relations</option>
					</select>
				</div>
					<div class="">
				<button class="button ripple-effect">Search</button>
			</div>
			

				</div>


			
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">

			<h3 class="page-title">Search Results</h3>

			<div class="notify-box margin-top-15">
				<div class="switch-container">
					<label class=""><span class="text-center switch-text"><%= ideas.length %> available ideas</span></label>
				</div>

				<!--<div class="sort-by">-->
				<!--	<span>Sort by:</span>-->
				<!--	<select class="selectpicker hide-tick">-->
				<!--		<option>Relevance</option>-->
				<!--		<option>Newest</option>-->
				<!--		<option>Oldest</option>-->
				<!--		<option>Random</option>-->
				<!--	</select>-->
				<!--</div>-->
			</div>

			<div class="listings-container compact-list-layout margin-top-35">
			    
			    <% if(ideas.length > 0){ %>
				
				<% ideas.forEach(idea => { %>
				<a href="/ideas/<%= idea.id %>" class="job-listing">

					<!-- Listing Details -->
					<div class="job-listing-details">

						<!-- Logo -->
						<div class="job-listing-company-logo">
							<img src="/images/undraw_new_ideas_jdea.png.png" alt="">
						</div>

						<!-- Details -->
						<div class="job-listing-description">
							<h3 class="job-listing-title"><%= idea.title %></h3>

							<!-- Job Listing Footer -->
							<div class="job-listing-footer">
								<ul>
									<li><i class="icon-material-outline-business"></i> Hexagon <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
									<li><i class="icon-material-outline-location-on"></i> San Francissco</li>
									<li><i class="icon-material-outline-business-center"></i> Full Time</li>
									<li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
								</ul>
							</div>
						</div>

						
					</div>
				</a>	

                <% }) %>
                
                 <% } else if(ideas.length === 0 && currentPage != 1){ %>
                        <div class="col-lg-12 col-sm-12">
                            <center>
                                
                        <h4 class="pt-5 mt-3">No Results for current Page Number</h4>
                        <image src="/img/tary.png" class="mb-2" height="200px">
                        <div class="mt-3 mx-auto mb-2">
                      <a href="/ideas" class="btn btn-sm btn-primary mb-3">Back To Ideas</a>
                                                </div></div></center>
                        <% } else if(ideas.length === 0 && currentPage === 1){ %>
                        
                        <div class="col-lg-12 col-sm-12">
                            <center>
                                
                        <h4 class="pt-5 my-3">No idea Available</h4>
                        <image src="/img/tary.png"class="mb-3" height="200px">
                        </div></center>
                        <% } %>
			</div>


			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-60 margin-bottom-60">
						<nav class="pagination">
							<ul>
							     <% if(currentPage){ %>
                                    <% if(currentPage > 1){ %>
                                    <li class="pagination-arrow"><a href="/investor/ideas?page=<%= parseInt(currentPage) - 1 %>"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                    <% if(final != true){ %>
                                    <li class="pagination-arrow"><a href="/investor/ideas?page=<%= parseInt(currentPage) + 1 %>"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    <% } %>
                                    
                                    <% }else{ %>
                                    <li class="pagination-arrow"><a href="/investor/ideas?page=<%= parseInt(currentPage) + 1 %>"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    <% } %>
                                    <% } %>
								<!--<li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>-->
								<!--<li><a href="#">1</a></li>-->
								<!--<li><a href="#" class="current-page">2</a></li>-->
								<!--<li><a href="#">3</a></li>-->
								<!--<li><a href="#">4</a></li>-->
								<!--<li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>-->
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>
	</div>
</div>

 </div>	

 <%- include("../partials/footer2") %>
 <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
 <script>
     var pusher = new Pusher('5bee59e13c42b1428b28', { cluster: 'eu' });

        // retrieve the socket ID once we're connected
        pusher.connection.bind('connected', function () {
            // attach the socket ID to all outgoing Axios requests
            axios.defaults.headers.common['X-Socket-Id'] = pusher.connection.socket_id;
        });

        // request permission to display notifications, if we don't alreay have it
        // Notification.requestPermission();
        pusher.subscribe('bid-notifications')
                .bind('bid_added', function (data) {
                console.log(data)
                alert("new bid added")

                });
 </script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

