<%- include("../partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<style>
.countdown.red {
    background-color: #ffd4d4;
    color: #c51616;
}
   .unverified-badge-with-title {
	position: relative;
	height: 26px;
	display: flex;
	top: -1px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	background-color: #de5959;
	text-align: center;
	z-index: 10;
	font-weight: 500;
	border-radius: 4px;
	padding: 0 8px 0 0;
	margin: 0;
	overflow: hidden;
	padding-left: 34px;
	line-height: 27px;
}
.unverified-badge-with-title:before {
	content: "\f405";
	font-family: "Ionicons";
	font-size: 16px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 26px;
	height: 26px;
	width: 26px;
	display: inline-block;
	background-color: #de5959;
}
</style>
<%- include("../partials/nav_dash") %>

<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="/img/idea-1880978_1920.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
				    							<% function nFormatter(num, digits) {
  var si = [
    { value: 1, symbol: "" },
    { value: 1E3, symbol: "k" },
    { value: 1E6, symbol: "M" },
    { value: 1E9, symbol: "G" },
    { value: 1E12, symbol: "T" },
    { value: 1E15, symbol: "P" },
    { value: 1E18, symbol: "E" }
  ];
  var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
  var i;
  for (i = si.length - 1; i > 0; i--) {
    if (num >= si[i].value) {
      break;
    }
  }
  return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
} %>
					<div class="left-side">
						<div class="header-image"><a href="#"><img src="/img/undraw_new_ideas_jdea.png" alt="<%= idea.title %>"></a></div>
						<div class="header-details">
							<h3><%= idea.title %></h3>
							<h5>Confidentiality</h5>
							<ul>
							    <% if(idea.nda){ %>
								<li><div class="verified-badge-with-title">IDEA CONFIDENTIAL</div></li>
								<% } else { %>
								<li><div class="unverified-badge-with-title">IDEA PUBLIC</div></li>
								<% } %>	
								<li><a href="#"><i class="icon-material-outline-dashboard"></i>IDEA TYPE: <% if(idea.idea_type == "sell"){ %> sell <% } %><% if(idea.idea_type == "co-own"){ %> Co-own (<%= idea.ratio %>) <% } %></a></li>
								<li><div class="badge badge-info text-uppercase"> <%= idea.industry %></a></li>
							<!--<% if(idea.buy_now_price > 0){ %><li class="small"><%- cur %><%= nFormatter(parseInt(idea.buy_now_price), 1) %>(buy-now)</li><% } %>-->
							</ul>
						</div>
					</div>
					<div class="right-side">
						<div class="salary-box">
							<div class="salary-type">Project Pricing</div>

							<div class="salary-amount"><%- cur %><%= nFormatter(parseInt(idea.idea_price_min), 1) %> - <%- cur %><%= nFormatter(parseInt(idea.idea_price_max), 1) %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
	      <% const getTen = (amount) => { 
                                var am = 10 * parseInt(amount)
                                return am/100
                            }
                                %>
                                  <% const get_90 = (amount) => { 
                                var am = 90 * parseInt(amount)
                                return am/100
                            }
                                %>
	  		    <% if(bid){ %>
		    <% var formatter = new Intl.NumberFormat('en-US', {

  // These options are needed to round to whole numbers if that's what you want.
  //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
  //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
});

 %>     <% if(bid.accepted){ %>
        <% if(pay_status == "not-initiated"){ %>
		<div class="col-xl-12 mx-3 notification success">
				<p><strong>Congrats !, </strong>Your Bid of <%- cur %><%= formatter.format(parseInt(bid.amount)) %> has been accepted. You are to make a 10% payment within 24 hours to secure the idea a different bid from being selected. <a href="/investor/checkout/<%= idea.id %>">Click here to proceed to payment..</a></p>
			</div>
	    <% } %>
	        <% if(pay_status == "first_complete"){ %>
		<div class="col-xl-12 mx-3 notification success">
				<p><strong>Congrats !, </strong>You have succesfully completed the first payment of <%- cur %><%= formatter.format(getTen(parseInt(bid.amount))) %> . <a href="/investor/checkout/<%= idea.id %>">Click here to continue with the second payment</a></p>
			</div>
	    <% } %>
	        <% if(pay_status == "second_pending"){ %>
		<div class="col-xl-12 mx-3 notification success">
				<p>You have intiatied the second payment of <%- cur %><%= formatter.format(get_90(parseInt(bid.amount))) %>, please await verification and approval of your payment. <a href="/investor/checkout/<%= idea.id %>">Click here to view payment status</a></p>
			</div>
	    <% } %>
	        <% if(pay_status == "complete"){ %>
		<div class="col-xl-12 mx-3 notification success">
				<p><strong>Congrats !, </strong>You have successfully completed your payment. <a href="/investor/invoice/<%= idea.id %>" target="_blank">Click here to view your invoice</a></p>
				<a href="/investor/certificates/<%= idea.id %>" target="_blank" class="p-2 mt-2 button ripple-effect button-sliding-icon">View Idea Certificate <i class="icon-feather-check"></i></a>
			</div>
	    <% } %>
			<% } %>
		<% } %>
		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">
		    
            	<div class="single-page-section">
				<h3 class="margin-bottom-25">Idea Summary</h3>
				<% if(idea.nda){ %>
				<% if(idea_pass == "accepted"){ %>
				<p><%= idea.summary %></p>
				<% if(idea.attach_url){ %>
			<div class="single-page-section">
				<h3>Attachment</h3>
				<div class="attachments-container">
					<a href="<%= idea.attach_url %>" download="<%= idea.title %>_Brief" class="attachment-box ripple-effect"><span>Idea Attachment</span><i>PDF</i></a>
				</div>
			</div>
            <% } %>
				<% } else if(idea_pass == "none") { %>
				<center class="mt-5 pt-3">
				    <h3>Interested In This Idea?</h3>
				    <a href="/investor/new-nda/<%= idea.id %>" class="p-2 mt-1 button ripple-effect button-sliding-icon">Sign Non-Disclosure Agreement <i class="icon-feather-check"></i></a>
				    <p class="small mt-2">You will be able to view the full summary once the owner approves your NDA.</p>
				</center>
			    <% } else if(idea_pass == "pending") { %>
				<center class="mt-5 pt-3">
				     <a href="#" class="p-2 mt-2 button ripple-effect button-sliding-icon" style=" background: orange!important" disabled>Undergoing Review...<i class="icon-feather-check"></i></a>
				    <p class="small mt-2">Your NDA is undergoing review...</p>
				</center>
				<% } %>
		<% } else  { %>
		<p><%= idea.summary %></p>
		<% } %>
				</div>

			<!-- Freelancers Bidding -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-group"></i> Investors Bidding</h3>
				</div>
				<ul class="boxed-list-ul" id="list">
				    <% if(bids.length > 0){ %>
				    <% bids.map(bid => { %>
				    <li>
						<div class="bid">
							 <!--Avatar -->
							<div class="bids-avatar">
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a href="/profile/<%= bid.user.id %>"><img src="<%= bid.user.img_url %>" alt=""></a>
								</div>
							</div>
							
							 <!--Content -->
							<div class="bids-content">
								 <!--Name -->
								<div class="freelancer-name">
									<h4><a href="/profile/<%= bid.user.id %>"><%= bid.user.firstName %> <%= bid.user.lastName %> </a></h4>
										<% if(bid.accepted){ %>
									<a href="#" class="p-1 mt-2 button ripple-effect button-sliding-icon" style="width: 155.406px; background: #60f368!important" disabled>Accepted <i class="icon-feather-check"></i></a>
									
									<% } %>
								</div>
							</div>
							
							 <!--Bid -->
							<div class="bids-bid">
								<div class="bid-rate">
									<div class="rate"><%- cur %><%= bid.amount %></div>
									<span><%= moment(bid.createdAt).fromNow() %></span>
								</div>
							</div>
						</div>
					</li>
				    <% }) %>
				    <% } else { %>
				    <center class="mt-5">
				        <img src="/img/tary.png" height="200px">
				        <p class="small mt-2">No Bids available</p>
				    </center>
				    <% } %>
				</ul>
			</div>
            <div class="clearfix"></div>
			
		</div>
		

		 <!--Sidebar -->
		<div class="col-xl-4 col-lg-4">
			<div class="sidebar-container">
                <% if(idea.status == "review"){ %>
                <div class="countdown red margin-bottom-35 mt-3">NOT YET ACTIVE</div>
                <% } else if(idea.status == "open") { %>
				<div class="countdown green margin-bottom-35 mt-3" id="timer">0 d, 0 h, 0 m, 0 s  left</div>
				<script>
				  var countDownDate = new Date("<%= idea.createdAt %>")
                countDownDate.setDate(countDownDate.getDate() + parseInt("<%= idea.idea_time %>"))
                
                var countDate = countDownDate.getTime()
                // Update the count down every 1 second
                var x = setInterval(function() {
                
                  // Get today's date and time
                  var now = new Date().getTime();
                
                  // Find the distance between now and the count down date
                  var distance = countDate - now;
                
                  // Time calculations for days, hours, minutes and seconds
                  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
                  // Display the result in the element with id="demo"
                  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
                  + minutes + "m " + seconds + "s ";
                
                  // If the count down is finished, write some text
                  if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("timer").innerHTML = "BIDDING CLOSED";
                  }
                }, 1000);
				</script>
				<% } else if(idea.status == "closed"){ %>
				 <div class="countdown red margin-bottom-35 mt-3">BIDDING CLOSED</div>
				<% } %>

				<div class="sidebar-widget">
					<div class="bidding-widget">
						<div class="bidding-headline"><h3>Bid on this idea!</h3></div>
						<div class="bidding-inner">

							 <!--Headline -->
							<span class="bidding-detail">Set your <strong>bid price</strong></span>
							<span class="small"><strong class="text-info">NOTE:</strong> A development Cost will be required in order for ideaswap to develop the idea into a functional solution.</span>

							 <!--Price Slider -->
							<div class="bidding-value"><%- cur %><span id="biddingVal"></span></div>
							<input class="bidding-slider" type="text" id="val" value="" data-slider-handle="custom" data-slider-currency="<%- cur %>" data-slider-min="<%= idea.idea_price_min %>" data-slider-max="<%= idea.idea_price_max %>" data-slider-value="auto" data-slider-step="50" data-slider-tooltip="hide" />
							
							<% if(idea.status == "open"){ %>
                            <% if(!applied){ %>
							 <!--Button -->
							<button id="snackbar-place-bid" onclick="submit_bid()" class="button ripple-effect move-on-hover full-width margin-top-30"><span>Place a Bid</span></button>
							<% }else { %>
							<button id="snackbar-place-bid" onclick="submit_bid()" class="button ripple-effect move-on-hover full-width margin-top-30" disabled><span>Applied</span></button>
							<% } %>
							<% } %>

						</div>
					</div>
				</div>


			</div>
		</div>

	</div>
</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->
		
 <%- include("../partials/footer2") %>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
 <script>
 
 
    const submit_bid = () => {
        $.confirm({
    title: 'Make Bid?',
    content: 'Bid NGN' + document.getElementById("val").value + " !",
    buttons: {
        confirm: function () {
             /* your callback code */ 
        axios.post('/investor/make-bid',
          {idea_id: '<%= idea.id %>',
            amount: document.getElementById("val").value,
            user_id: '<%= user.id %>'
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message ){
              	Snackbar.show({
		text: res.data.message,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	});
	location.reload()
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
            }
        }
        )
        },
        cancel: function () {
           
        }
    }
});
   
}
	  
	       
	</script>
	 <script>
     var pusher = new Pusher('5bee59e13c42b1428b28', { cluster: 'eu' });

        // retrieve the socket ID once we're connected
        pusher.connection.bind('connected', function () {
            // attach the socket ID to all outgoing Axios requests
            axios.defaults.headers.common['X-Socket-Id'] = pusher.connection.socket_id;
        });

        // request permission to display notifications, if we don't alreay have it
        // Notification.requestPermission();
        pusher.subscribe('bid-notifications')
                .bind('bid_added', function (data) {
                console.log(data)
                if(data.id === <%= idea.id %>){
                 document.getElementById("list").innerHTML = data.bids.map(bid => {
                     return `
                     <li>
						<div class="bid">
							 <!--Avatar -->
							<div class="bids-avatar">
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a href="/profile/${bid.user.id}"><img src="${bid.user.img_url}" alt=""></a>
								</div>
							</div>
							
							 <!--Content -->
							<div class="bids-content">
								 <!--Name -->
								<div class="freelancer-name">
									<h4><a href="/profile/${bid.user.id }"> ${bid.user.firstName} ${bid.user.lastName} </a></h4>
								</div>
							</div>
							
							 <!--Bid -->
							<div class="bids-bid">
								<div class="bid-rate">
									<div class="rate"><%- cur %>${bid.amount}</div>
									<span>${moment(bid.createdAt).fromNow()}</span>
								</div>
							</div>
						</div>
					</li>
                     `
                 })   
                }

                });

 </script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

