	<!-- Dashboard Sidebar
	================================================== -->
	<div class="dashboard-sidebar" id="side">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<div class="dashboard-nav-container">

				<!-- Responsive Navigation Trigger -->
				<a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
					<span class="trigger-title">Dashboard Navigation</span>
				</a>
				
				<!-- Navigation -->
				<div class="dashboard-nav">
					<div class="dashboard-nav-inner">

						<ul data-submenu-title="Start">
							<li class="active"><a href="/investor/dashboard"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
							<li><a href="/investor/scripts"><i class="icon-material-outline-question-answer"></i> Find Scripts <span class="nav-tag">2</span></a></li>
							<li><a href="/investor/ideas"><i class="icon-line-awesome-clone"></i> Find Ideas</a></li>
							<!--<li><a href="dashboard-reviews.html"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>-->
						</ul>
						
						<ul data-submenu-title="Organize and Manage">
							<li><a href="#"><i class="icon-material-outline-business-center"></i>IDEAS</a>
								<ul>
									<li><a href="/investor/bids">My Bids</a></li>
									<li><a href="/investor/my-ideas">Manage Ideas</a></li>
									<li><a href="/investor/certificates">My Idea Certificates</a></li>
									<li><a href="/investor/invoices">Invoices</a></li>
								</ul>	
							</li>
							
							<ul data-submenu-title="Payments">
							<li><a href="#"><i class="icon-line-awesome-money"></i>Payments</a>
								<ul>
									<li><a href="/investor/payments">Idea Payments</a></li>
									<li><a href="/investor/pending">Pending Payments</a></li>
								</ul>	
							</li>
							<!--<li><a href="#"><i class="icon-material-outline-assignment"></i> Tasks</a>-->
							<!--	<ul>-->
							<!--		<li><a href="dashboard-manage-tasks.html">Manage Tasks <span class="nav-tag">2</span></a></li>-->
							<!--		<li><a href="dashboard-manage-bidders.html">Manage Bidders</a></li>-->
							<!--		<li><a href="dashboard-my-active-bids.html">My Active Bids <span class="nav-tag">4</span></a></li>-->
							<!--		<li><a href="dashboard-post-a-task.html">Post a Task</a></li>-->
							<!--	</ul>	-->
							<!--</li>-->

						</ul>

						<ul data-submenu-title="Account">
							<li><a href="/settings"><i class="icon-material-outline-settings"></i> Settings</a></li>
							<li><a href="/logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
						</ul>
						
					</div>
				</div>
				<!-- Navigation / End -->

			</div>
		</div>
	</div>
	<!-- Dashboard Sidebar / End -->
