<%- include("../partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<%- include("../partials/nav_dash") %>
<!-- Dashboard Container -->

<div class="dashboard-container">

<%- include("menu") %>

	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
		<!-- Titlebar
================================================== -->
<div class="single-page-header freelancer-header" data-background-image="/img/lake-constance-838408_1920.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image freelancer-avatar"><img src="<%= user.img_url %>" alt=""></div>
						<div class="header-details">
							<h3><%= user.firstName %> <%= user.lastName %><span class="small" style="font-size: 15px!important;">You're now ready to invest! <a href="/ideas">Browse Ideas.</a></span></h3>
							<ul>
								<li><i class="icon-material-outline-settings"></i> Do your own research</li>
								<li><i class="icon-line-awesome-money"></i> Be a value adding investor</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
	

	        

				<!-- Dashboard Box -->
				<div class="col-xl-12 px-0">
                <h2 class="my-3">SWAPPED IDEAS</h2>
					<div class="listings-container grid-layout margin-top-35 px-0">
					     	<% function nFormatter(num, digits) {
                              var si = [
                                { value: 1, symbol: "" },
                                { value: 1E3, symbol: "k" },
                                { value: 1E6, symbol: "M" },
                                { value: 1E9, symbol: "G" },
                                { value: 1E12, symbol: "T" },
                                { value: 1E15, symbol: "P" },
                                { value: 1E18, symbol: "E" }
                              ];
                              var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
                              var i;
                              for (i = si.length - 1; i > 0; i--) {
                                if (num >= si[i].value) {
                                  break;
                                }
                              }
                              return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
                            } %>
				<% if(ideas.length > 0){ %>
				
				<% ideas.forEach(idea => { %>
				<!-- idea Listing -->
				<a href="/investor/ideas/<%= idea.idea.id %>" class="job-listing">

					<!-- idea Listing Details -->
					<div class="job-listing-details">
						<!-- Logo -->
						<!--<div class="job-listing-company-logo">-->
						<!--	<img src="/img/pen-1215435_1920.jpg" alt="" height="80px" width="120px">-->
						<!--</div>-->
					
						<!-- Details -->
						<div class="job-listing-description">
							<h4 class="job-listing-company"><%= idea.idea.industry %></h4>
							<h3 class="job-listing-title"><%= idea.idea.title %></h3>
						</div>
					</div>

					<!-- Job Listing Footer -->
					<div class="job-listing-footer">
						
						<ul>
							<li><i class="icon-material-outline-account-balance-wallet"></i> <%- cur %><%= nFormatter(parseInt(idea.idea.idea_price_min), 1) %> - <%- cur %><%= nFormatter(parseInt(idea.idea.idea_price_max), 1) %></li>
							<li><i class="icon-material-outline-access-time"></i> <%= moment(idea.idea.createdAt).fromNow() %></li>
						</ul>
					</div>
				</a>	
                <% }) %>
                
                   <div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-60 margin-bottom-60">
						<nav class="pagination">
							<ul>
							     <% if(currentPage){ %>
                                    <% if(currentPage > 1){ %>
                                    <li class="pagination-arrow"><a href="/investor/my-ideas?page=<%= parseInt(currentPage) - 1 %>"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                    <% if(final != true){ %>
                                    <li class="pagination-arrow"><a href="/investor/my-ideas?page=<%= parseInt(currentPage) + 1 %>"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    <% } %>
                                    
                                    <% }else{ %>
                                    <li class="pagination-arrow"><a href="/investor/my-ideas?page=<%= parseInt(currentPage) + 1 %>"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    <% } %>
                                    <% } %>
								<!--<li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>-->
								<!--<li><a href="#">1</a></li>-->
								<!--<li><a href="#" class="current-page">2</a></li>-->
								<!--<li><a href="#">3</a></li>-->
								<!--<li><a href="#">4</a></li>-->
								<!--<li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>-->
							</ul>
						</nav>
					</div>
				</div>
			</div>
			   <% } else if(bids.length === 0 && currentPage != 1){ %>
                        <div class="col-xl-6 mx-auto">
                <center class="mt-5">
				        <img src="/img/undraw_void_3ggu (1).png" height="250px">
				        <p class="small mt-2 mb-2">No Results available for page number</p>
				        <a href="/investor/bids" class="btn btn-sm btn-primary mb-3">Back To Bids</a>
				    </center>
				    </div>
                        <% } else if(bids.length === 0 && currentPage === 1){ %>
                        
                        <div class="col-xl-6 mx-auto">
                <center class="mt-5">
				        <img src="/img/undraw_void_3ggu (1).png" height="250px">
				        <p class="small mt-2">No Ideas available</p>
				    </center>
				    </div>
                        <% } %>
			
			

			</div>
				</div>

	
			


 <%- include("../partials/footer_dash") %>
 <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
 <script>
     /*var pusher = new Pusher('5bee59e13c42b1428b28', { cluster: 'eu' });

        // retrieve the socket ID once we're connected
        pusher.connection.bind('connected', function () {
            // attach the socket ID to all outgoing Axios requests
            axios.defaults.headers.common['X-Socket-Id'] = pusher.connection.socket_id;
        });

        // request permission to display notifications, if we don't alreay have it
        // Notification.requestPermission();
        pusher.subscribe('bid-notifications')
                .bind('bid_added', function (data) {
                console.log(data)
                alert("new bid added")

                }); */
 </script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<%- include("../partials/footer_empty") %>

