<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title><%= title %></title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
    * {
        font-family: "Rubik", sans-serif;
    }
    body{
        padding: 50px 20px 30px 20px;
    }
    
    .NdaSignatures {
    height: 300px;
    overflow-y: scroll;
    }
    
    p {
    margin-top: 0;
    margin-bottom: 1rem;
    }
    
    .form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
.NdaSignatures__terms-and-conditions__overlay {
    height: 150px;
    margin-top: -150px;
    background: linear-gradient(rgba(255,255,255,0), white);
    opacity: 0.9;
    position: relative;
}
    </style>
  </head>
  <body>

    <div class="col border-md rounded p-md-5">
        <h2 class="mb-4">Sign Non-Disclosure Agreement (NDA)</h2>

          <p>In order to gain full and complete access to the listing and the information contained therein, you must apply below. As part of your application, you will be required to read and agree to the terms and conditions of the following Non-Disclosure Agreement.</p>
          <p><strong>Please read full terms and conditions to the end before accepting. You must scroll to the bottom before submitting.</strong></p>

          <div class="NdaSignatures border rounded text-muted p-3">
            <p>NON-DISCLOSURE AGREEMENT</p>
      <p>Please read the following Non-Disclosure Agreement ("Agreement") carefully.
      By clicking on the "I accept the terms and conditions of this Non-Disclosure Agreement" button you are
      indicating your acceptance of this Non-Disclosure Agreement and agree to be legally bound by it.</p>

      <p>For the purposes of this Agreement, <strong>"Business"</strong> means the business currently
      advertised and offered for sale on Flippa.com which is accessible via the "View Listing" link above.</p>

      <p><strong>"Seller"</strong> means the owner of the Business.</p>

      <p><strong>"You"</strong> or <strong>"Your"</strong> or <strong>"Buyer"</strong> means the person or
      company who is interested in acquiring the Business.</p>

      <p>For the purpose of this Agreement, You and the Seller are each a "Party" and collectively
      "The Parties."</p>

      <ol><li>This Agreement is effective as of the date of Your acceptance of this Agreement.</li>

      <li>You wish to evaluate the Business and engage in discussions with the Seller in connection with Your possible
      acquisition of the Business (<strong>"Purpose"</strong>).</li>

      <li>The Seller wishes to disclose certain Confidential Information to You relating to the Purpose. You enter into
      this Agreement to protect the confidentiality of the Confidential Information, on the terms set out below.</li>

      <li>You acknowledge and agree that terms of this Agreement are binding upon You and enforceable by the
      Seller.</li>

      <li>"Confidential Information" means any information provided by the Seller or any of its Personnel to You or
      any of your Personnel for or in connection with the Purpose, including: (a) information designated as
      confidential by the Seller; (b) information imparted in circumstances of confidence; or (c) information that You
      know, or ought to know, is confidential, but excluding information which is already known by You at the time it
      is disclosed, or which is or becomes public knowledge other than by a breach of this Agreement.</li>

      <li>"Personnel" means any employee, officer, agent, contractor, subcontractor, student or volunteer of a Party,
      and any employee, officer, agent, contractor, subcontractor, student or volunteer of a contractor or
      subcontractor, but excludes the other Party and its Personnel.</li>

      <li>You acknowledge and agree that the Confidential Information is valuable.</li>

      <li>In consideration for the Seller providing the Confidential Information to You, You accept and agree to keep
      the Confidential Information confidential in accordance terms of this Agreement.</li>

      <li>Subject to clause 10, You must (a) keep the Confidential Information confidential and preserve its
      confidential nature; and (b) not use or disclose or permit the use or disclosure of Confidential Information
      for any purpose other than the Purpose.</li>

      <li>This Agreement does not prohibit the use or disclosure of Confidential Information (a) required to be
      disclosed by You by law or pursuant to the rules of any securities exchange; (b) by You to your legal or other
      advisers, subject to the relevant adviser being subject to confidentiality obligations or a confidentiality
      undertaking in a form reasonably satisfactory to the Seller; (c) which is necessary for the Purpose, but only
      to the extent necessary for the Purpose; (d) to an auditor solely for the purposes of an audit; or (e) which
      the Seller has agreed in writing may be used or disclosed by You, provided such use or disclosure is in
      accordance with the terms of that agreement.</li>

      <li>You must ensure (a) your Personnel are made aware of the confidential nature of the Confidential Information
      and the terms of this Agreement before being provided with or having access to Confidential Information; and
      (b) your Personnel do not do or fail to do anything that, if done or not done, would amount to a breach of your
      obligations under this Agreement.</li>

      <li>If You become aware that You have or may breach this Agreement, You must immediately notify the Seller and
      take all reasonable steps required to stop the breach.</li>

      <li>Unless agreed otherwise in writing, this Agreement and the obligations under this Agreement continue in full
      force and effect for three (3) years from the Commencement Date.</li>

      <li>You acknowledge that the Confidential Information remains the property of the Seller at all times and that
      this Agreement does not convey to You or any of your Personnel any proprietary or other interest in the
      Confidential Information.</li>

      <li>You must, promptly upon request by the Seller, return or destroy all material containing Confidential
      Information in your possession, power or control, which was either received from the Seller or which You have
      generated.</li>

      <li>You acknowledge that disclosure of any Confidential Information in breach of this Agreement would cause
      irreparable harm to the Seller for which damages may not be an adequate remedy.</li>

      <li>You consent to the grant of injunctive relief to restrain any breach of this Agreement, or specific
      performance to compel You to perform your obligations under this Agreement, as a remedy for any breach or
      threatened breach of this Agreement and in addition to any other remedies available to the Seller.</li>

      <li>You indemnify the Seller against any claims, loss, damages, costs and expenses (including legal costs on a
      solicitor and own client basis) that the Seller incurs or suffers directly or indirectly as a result of a breach
      of this Agreement by You, or any unauthorised use or disclosure of the Confidential Information by You or your
      Personnel or a person who received Confidential Information from any of them.</li>

      <li>This Agreement is governed by the laws of California and You agree to submit to the non-exclusive
      jurisdiction of its courts.</li>

      <li>This Agreement shall be binding upon and for the benefit of the Parties, their successors and assigns.</li>

      <li>This Agreement constitutes Your entire understanding in relation to its subject matter and supersedes all
      prior written or oral agreements or undertakings regarding that subject matter.</li>

      <li>You may not assign this Agreement (or any right under it) to another person without the prior, written
      consent of the Seller.</li>

      <li>The termination or expiry of this Agreement for any reason will not extinguish Your obligations, which,
      either expressly or by their nature, are intended to survive termination or expiry, including clause 9.</li></ol>
          </div>

          <div class="NdaSignatures__terms-and-conditions__overlay"></div>

        <form class="mt-5 ng-pristine ng-valid" onsubmit="sub(event)">
  

  <h5>Message for seller (required)</h5>
  <p>Tell the seller who you are and why you are interested in this business. Be honest and descriptive to increase your chances of getting approved.</p>

  <textarea name="message" id="message" rows="4" class="form-control mb-3" required></textarea>

  <div class="">
    <input type="checkbox" style="display: block;" name="read_and_agree" id="read_and_agree" value="1" class="NdaSignatures__checkbox form-check-input"><label class="form-check-label text-muted" for="read_and_agree">I accept the terms and conditions of this Non-Disclosure Agreement and agree to be bound by them. The Agreement is related to the Idea Listing. I understand that it is at the discretion of the Seller whether or not they accept my application and provide me with access to the listing and the Confidential Information.</label>
  </div>

  <div class="d-flex justify-content-between mt-4">
    <a class="btn btn-outline-secondary btn-wide" href="/investor/ideas/<%= idea.id %>">Back</a>
    <input type="submit" name="submit" value="Submit NDA" class="btn btn-primary btn-wide">
  </div>
</form>
      </div>
      <script src="/js/snackbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>


<script>
      const sub = (event) => {
    event.preventDefault()
    if(document.getElementById("read_and_agree").checked){
        axios.post('/investor/submit-nda',
          {idea_id: '<%= idea.id %>',
            message: document.getElementById("message").value,
            user_id: '<%= user.id %>'
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message ){
              	Snackbar.show({
		text: res.data.message,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'green'
	});
	window.location.href = `/investor/ideas/<%= idea.id %>`
            }
            	else if(res.data.error){
       	Snackbar.show({
		text: res.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
  
        })        
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
                	Snackbar.show({
		text: error.response.data.error,
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); }
            }
            else if(error){
            console.log(error)
                 	Snackbar.show({
		text: 'There was an error',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
            }
        }
        )
        
    }else {
                  	Snackbar.show({
		text: 'Please agree to the terms of the Non-Disclosure Agreement',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Error",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: 'red'
	}); 
    }
    
      }
</script>
  </body>
</html>
