<%- include("../partials/header_dash") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<%- include("../partials/nav_dash") %>
<!-- Dashboard Container -->

<div class="dashboard-container">

<%- include("menu") %>

	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
		<!-- Titlebar
================================================== -->
<div class="single-page-header freelancer-header" data-background-image="/img/lake-constance-838408_1920.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image freelancer-avatar"><img src="<%= user.img_url %>" alt=""></div>
						<div class="header-details">
							<h3><%= user.firstName %> <%= user.lastName %><span class="small" style="font-size: 15px!important;">You're now ready to invest! <a href="/ideas">Browse Ideas.</a></span></h3>
							<ul>
								<li><i class="icon-material-outline-settings"></i> Do your own research</li>
								<li><i class="icon-line-awesome-money"></i> Be a value adding investor</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
	

	        

				<!-- Dashboard Box -->
				<div class="col-xl-12 px-0">
                <h2 class="my-3">Payments</h2>
					<div class="margin-top-35 px-0">
					     	<% function nFormatter(num, digits) {
                              var si = [
                                { value: 1, symbol: "" },
                                { value: 1E3, symbol: "k" },
                                { value: 1E6, symbol: "M" },
                                { value: 1E9, symbol: "G" },
                                { value: 1E12, symbol: "T" },
                                { value: 1E15, symbol: "P" },
                                { value: 1E18, symbol: "E" }
                              ];
                              var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
                              var i;
                              for (i = si.length - 1; i > 0; i--) {
                                if (num >= si[i].value) {
                                  break;
                                }
                              }
                              return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
                            } %>
                            
                <h4 class="my-3">Pending Payments</h4>
				<% if(pays.length > 0){ %>
				<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Idea Title</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Sender</th>
                <th>Bank</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            
                <% pays.forEach(pay => { %>
	            <tr><td><%= pay.idea.title %></td>
	            <td><%- cur %><%= nFormatter(pay.amount, 5) %></td>
                <td><span class="badge badge-warning">Pending</span></td>
                <td><%= pay.sender %></td>
                <td><%= pay.bank %></td>
                <td><%= moment(pay.date_time_sent).format("L") %></td>
                <td><a href="/investor/ideas/<%= pay.idea.id %>" class="btn btn-outline-primary">View Idea Page</a></td>
                 </tr><% }) %>
           
        </tbody>
        <tfoot>
            <tr>
                <th>Idea Title</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Sender</th>
                <th>Bank</th>
                <th>Date</th>
                <th>Action</th> 
            </tr>
        </tfoot>
    </table>
				
                
                <% } else { %>
                <div class="col-xl-6 mx-auto">
                <center class="mt-5">
				        <img src="/img/undraw_void_3ggu (1).png" height="250px">
				        <p class="small mt-2">No Pending Payments Made</p>
				    </center>
				    </div>
                <% } %>
			

			</div>
								
				</div>

	
			


 <%- include("../partials/footer_dash") %>
 <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
 <script>

 </script>
<%- include("../partials/footer_empty") %>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

